<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<title>The Project | Frequently Asked Questions</title>
		<meta name="Digix FAQ" content="DGX's FAQ">
		<meta name="DigixGlobal" content="htmlcoder.me">

		<!-- Mobile Meta -->
		<meta name="Mobile DGX" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link rel="shortcut icon" href="images/DGX_Icons/favicon-dgx.png">

		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

		<!-- Bootstrap core CSS -->
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet">

		<!-- Font Awesome CSS -->
		<link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

		<!-- Fontello CSS -->
		<link href="fonts/fontello/css/fontello.css" rel="stylesheet">
        
            <!-- DRAFT -->
        <link href="custom.css" rel="stylesheet">

		<!-- Plugins -->
		<link href="plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
		<link href="css/animations.css" rel="stylesheet">
		<link href="plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
		<link href="plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
		<link href="plugins/hover/hover-min.css" rel="stylesheet">
		
		<!-- the project core CSS file -->
		<link href="css/style.css" rel="stylesheet" >

		<!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
		<link href="css/skins/gold_custom.css" rel="stylesheet">

		<!-- Custom css --> 
		<link href="css/custom.css" rel="stylesheet">
	</head>

	<!-- body classes:  -->
	<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
	<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
	<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
	<body class="no-trans  ">

		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
		
		<!-- page wrapper start -->
		<!-- ================ -->
		<div class="page-wrapper">
		
				<!-- header-container start -->
			<div class="header-container">
				
				<!-- header start -->
				<!-- classes:  -->
				<!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
				<!-- "dark": dark version of header e.g. class="header dark clearfix" -->
				<!-- "full-width": mandatory class for the full-width menu layout -->
				<!-- "centered": mandatory class for the centered logo layout -->
				<!-- ================ --> 
				<header class="header  fixed  transparent clearfix">
					
					<div class="container">
						<div class="row">
							<div class="col-md-3">
								<!-- header-left start -->
								<!-- ================ -->
								<div class="header-left clearfix">

									<!-- logo -->
									<div id="logo" class="logo">
										<a href="DGXindex.html"><img id="logo_img" src="https://www.dgx.io/assets/digixglobal_logo_light-9a66823c59b60941d18c266d7b91024d.png" alt="The Project"></a>
									</div>

									<!-- name-and-slogan -->
									<div class="site-slogan">
										Solving your Blockchain Needs
									</div>
									
								</div>
								<!-- header-left end -->

							</div>
							<div class="col-md-9">
					
								<!-- header-right start -->
								<!-- ================ -->
								<div class="header-right clearfix">
									
								<!-- main-navigation start -->
								<!-- classes: -->
								<!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
								<!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
								<!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
								<!-- ================ -->
								<div class="main-navigation  animated with-dropdown-buttons">

									<!-- navbar start -->
									<!-- ================ -->
									<nav class="navbar navbar-default" role="navigation">
										<div class="container-fluid">

											<!-- Toggle get grouped for better mobile display -->
											<div class="navbar-header">
												<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
													<span class="sr-only">Toggle navigation</span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
												</button>
												
											</div>

											<!-- Collect the nav links, forms, and other content for toggling -->
											<div class="collapse navbar-collapse" id="navbar-collapse-1">
												<!-- main-menu -->
												<ul class="nav navbar-nav customoffset">
													<li>
														<a  href="DGXindex.html#Home">Home</a>
														
													</li>
													<li>
														<a href="DGXindex.html#Download">Download</a>
														
													</li>
     
													<li>
														<a href="DGXindex.html#About">About</a>
													
                                                    </li>                                 
                                                    
													<li>
														<a href="DGXindex.html#Solution">Solutions</a>
														
													</li>
   <li class="dropdown ">
                                                        <a href="template/index-shop.html" class="dropdown-toggle" data-toggle="dropdown">Resources</a>
                                                        <ul class="dropdown-menu">
                                                            <li ><a href="DGX_Team.html">Team</a></li>
                                                            <li ><a href="DGXindex.html#News">News</a></li>
                                                            <li ><a href="DGX_PrivacyPolicy.html">Privacy Policy</a></li>
                                                            <li ><a href="DGX_AML.html">AML Policy</a></li>
                                                            <li ><a href="DGX_FAQ.html">FAQ</a></li>
                                                            <li ><a href="DGX_TNC.html">Terms and Conditions</a></li>
                                                        </ul>
                                                    </li>
												</ul>
                                                
                                                
                        
												<!-- Navi bar End
                                                

												
												<!-- header buttons -->
												<div class="header-dropdown-buttons">
													<a href="mailto:theproject@info.com" class="btn btn-sm hidden-xs btn-default">Contact Us <i class="fa fa-envelope-o pl-5"></i></a>
													<a href="mailto:theproject@info.com" class="btn btn-lg visible-xs btn-block btn-default">Contact Us <i class="fa fa-envelope-o pl-5"></i></a>
												</div>
												<!-- header buttons end-->
												
											</div>

										</div>
									</nav>
									<!-- navbar end -->

								</div>
								<!-- main-navigation end -->	
								</div>
								<!-- header-right end -->
					
							</div>
						</div>
					</div>
					
				</header>
				<!-- header end -->
			</div>
			<!-- header-container end -->
		
		
			<!-- breadcrumb start -->
			<!-- ================ -->
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="DGXindex.html">Home</a></li>
						<li class="active">Frequently Asked Questions</li>
					</ol>
				</div>
			</div>
			<!-- breadcrumb end -->

			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-8">

							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">Frequently Asked Questions</h1>
							<div class="separator-2"></div>
							<!-- page-title end -->
							<p>Find answer to commonly asked questions. If you cannot find what you need, please submit your question to us and we will get back to you shortly.</p>
							<!-- Nav tabs -->
							<ul class="nav nav-tabs style-1" role="tablist">
								<li class="active"><a href="#tab1" role="tab" data-toggle="tab"><i class="fa  fa-life-saver pr-10"></i>General</a></li>
								<li><a href="#tab2" role="tab" data-toggle="tab"><i class="fa fa-user pr-10"></i>Proof of Asset™</a></li>
								<li><a href="#tab3" role="tab" data-toggle="tab"><i class="fa fa-star pr-10"></i>Vouchers</a></li>
							</ul>
							<!-- Tab panes -->
							<div class="tab-content">
								<div class="tab-pane fade in active" id="tab1">
									<!-- accordion start -->
									<div class="panel-group collapse-style-1" id="accordion-faq">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseOne" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i>What does DigixGlobal do?
													</a>
												</h4>
											</div>
											<div id="collapseOne" class="panel-collapse collapse">
												<div class="panel-body">
													We are a Smart Asset company that allows you to buy LBMA approved standard gold bars and store them in our custodial vaults, giving you the ability to create digital gold redemption vouchers fully backing your gold on the Ethereum Blockchain. These vouchers can be sent and received without the fear of fraud or duplication via our Proof of Asset ™ certification.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseTwo" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i>Why should I purchase and store gold through DigixGlobal?
													</a>
												</h4>
											</div>
											<div id="collapseTwo" class="panel-collapse collapse">
												<div class="panel-body">
													DigixGlobal offers LBMA approved gold bullion at very competitive rates, and is also the first company allowing investors to create their own digital gold redemption vouchers on the Ethereum blockchain.


												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseThree" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Why Singapore?
													</a>
												</h4>
											</div>
											<div id="collapseThree" class="panel-collapse collapse">
												<div class="panel-body">
													DigixGlobal is incorporated in low crime and politically stable Singapore. Investment Precious Metals are exempted from GST locally, so you are purchasing gold at the lowest premiums available in the world.

There are also no permits required to import or export precious metals.

Singapore also has no jurisdictional relations with USA or Europe.

We will only release your personal information by order of the Court of Law in Singapore.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseFour" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Are there KYC/AML requirements?
													</a>
												</h4>
											</div>
											<div id="collapseFour" class="panel-collapse collapse">
												<div class="panel-body">
													At DigixGlobal, we perform stringent KYC / AML processes to ensure that our technology and services cannot be used to circumvent existing government regulations with regards to money laundering, criminal and terrorist financing, financial fraud, and tax evasion.

One of the most important value proposition of PoA ™ certification is to protect our customers’ assets held by participating custodians and the DigixGlobal ecosystem.

We must ensure that DigixGlobal and participating organizations be protected from any potential liabilities resulting from government prosecution and asset seizures, so we ensure that we comply fully with regulatory requirements for Know your customer (KYC) and Anti-money laundering (AML).
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseFive" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> What is the Ethereum Blockchain?
													</a>
												</h4>
											</div>
											<div id="collapseFive" class="panel-collapse collapse">
												<div class="panel-body">
													Please visit <a href="www.ethereum.org">www.ethereum.org</a> for more information.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseSix" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> What is your Audit Process like?
													</a>
												</h4>
											</div>
											<div id="collapseSix" class="panel-collapse collapse">
												<div class="panel-body">
													We have 4 Audit Processes at DigixGlobal:
<p></p>
                                                    <p>Private Audits, External Audits, Custodial Audits, Internal Audits.</p>

<Strong>Private Audits</Strong>: Clients are welcome to come to our certified custodial vaults in Singapore to inspect your gold bars in a highly private and secure environment.<br><p></p>
<Strong>External Audits</Strong>: We have engaged Inspectorate Singapore (www.inspectorate.com) to audit our inventory and match them off with customers’ holdings at DGX. We will hold such audits at least twice a year.<br><p></p>
<Strong>Custodial Audits</Strong>: Our certified custodians will provide a physical certification of proof that your gold bars are stored safely in their vaults. They will take photographs of your serialised bars per request basis and have them keyed into their inventory management systems. Some of our certified custodian’s reputation is also on the line to provide us with their appraisal and storage services, as they have to answer to their shareholders as a publicly listed company in Singapore.<br><p></p>
<Strong>Internal Audits</Strong>: We have patented a certification process called Proof of Asset (PoA), where auditors participate to sign the existence of Gold on our PoA certificate, which is uploaded onto the Ethereum Blockchain.

												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseSeven" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Can I pick up my purchased gold at the vault?
													</a>
												</h4>
											</div>
											<div id="collapseSeven" class="panel-collapse collapse">
												<div class="panel-body">
													Yes. Simply submit a request with us online, and we would have a DigixGlobal Representative take you to one of our custodial vault locations to redeem your gold.


												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseEight" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> What identifications do I need to withdraw my gold?
													</a>
												</h4>
											</div>
											<div id="collapseEight" class="panel-collapse collapse">
												<div class="panel-body">
													Please bring along your government ID and online account Log-In information.


												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseNine" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> What are your shipping methods?
													</a>
												</h4>
											</div>
											<div id="collapseNine" class="panel-collapse collapse">
												<div class="panel-body">
													We ship bullion to most parts of the world. Please email us for a private quotation as shipping charges vary for different weights and locations. We will do our best to facilitate the lowest cost and safest options for shipping. Redeemers will pay for shipping charges. All shipping comes insured.


												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseTen" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> What payment methods do you accept?
													</a>
												</h4>
											</div>
											<div id="collapseTen" class="panel-collapse collapse">
												<div class="panel-body">
													We accept Xfers for local bank 2 bank transfer, FAST transfers for locals, Telegraphic Transfers and Credit Cards.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseEleven" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> What happens in case of my death?
													</a>
												</h4>
											</div>
											<div id="collapseEleven" class="panel-collapse collapse">
												<div class="panel-body">
													A death certificate will have to be presented to us by the estate attorney and we will process any liquidation or ownership changes as quickly as we can. Liquidation and change of ownership fees will be incurred.
												</div>
											</div>
										</div>
        <div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapse12" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> What are your storage fees?
													</a>
												</h4>
											</div>
											<div id="collapse12" class="panel-collapse collapse">
												<div class="panel-body">
													Storage for 2015 will be free. New orders coming in from 2016 onwards will be subjected to storage fees. The rates will be disclosed in Q4 2015. They will be industry competitive.



												</div>
											</div>
										</div>
                                        <div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapse13" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> How do I redeem vouchers?
													</a>
												</h4>
											</div>
											<div id="collapse13" class="panel-collapse collapse">
												<div class="panel-body">
													Vouchers are redeemed through a special Ethereum contract which allows you to ReCast a new physical gold bar which you can store in your own DigixGlobal certified custodian vault or liquidate for your choice of local currency deposited to your online currency wallet. You can withdraw via bank wire transfer or have a check sent delivered to your verified address.



												</div>
											</div>
										</div>
                                        
                                        <div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapse14" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> How do we exchange physical gold or vouchers for money?

													</a>
												</h4>
											</div>
											<div id="collapse14" class="panel-collapse collapse">
												<div class="panel-body">
													You can go to any local pawnshops or gold dealers in Singapore to exchange gold for fiat. With ValueMax as our first certified custodian and gold supplier, you can sell your gold with them for cash. Alternatively, we also provide a link on our Digix Dashboard to EtherEx, a decentralised digital asset exchange where you can find a buyer for your redemption vouchers.


												</div>
											</div>
										</div>
                                        <div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapse15" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> What is the difference between packed bars and cast bars?

													</a>
												</h4>
											</div>
											<div id="collapse15" class="panel-collapse collapse">
												<div class="panel-body">
													Both types of bars come with serial numbers. Both types of bars are also equivalent in gold composition and weight in gold. However, packed bars come with unique designs, and are packaged for display. They contain a higher premium due to the extra workmanship involved in making them. Cast bars, as the name suggests, appear as it is without aesthetic add ons, so have a lower premium compared to packed bars.


												</div>
											</div>
										</div>
                                        
                                        <div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapse16" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Why do you only offer 2 types of gold bars for sale?

													</a>
												</h4>
											</div>
											<div id="collapse16" class="panel-collapse collapse">
												<div class="panel-body">
												Our gold bullion are the lowest priced in the marketplace. We have decided to limit to 2 types of serialised gold bars: 100g Cast Bars and 1000g Cast bars.

This was done to keep investor’s premium as low as possible. Any bars sold at a lower denomination with aesthetic add ons contain additional premiums ranging from of 20% to 50% to its intrinsic value, distorting the true price of gold as a commodity. As our main objective is to shield your wealth from a potential economic crisis, we choose to specialise in bars that offer the lowest premiums to the gold investor. As Singapore is also GST and Tax free to purchase investment grade gold, we are able to keep our premiums over spot Gold less than 2%. We continually source for cheaper gold sources so as to bring it as close as we can to the price of gold on the london spot market.



												</div>
											</div>
										</div>
                                       

                                        
									</div>
									<!-- accordion end -->
								</div>
								<div class="tab-pane fade" id="tab2">
									<!-- accordion start -->
									<div class="panel-group collapse-style-1" id="accordion-faq-2">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseOne-2"  class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> What is Proof of Asset ™ ?
													</a>
												</h4>
											</div>
											<div id="collapseOne-2" class="panel-collapse collapse">
												<div class="panel-body">
													Proof of Asset ™ (PoA™) is a protocol and certification service that enables users to create decentralized smart contracts. These smart contracts can be anything from gold voucher issuances which allows anyone to send and receive divisible gold vouchers, gold backed multi-signature escrow, group savings, and private personal inheritances to name just a few.




												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseTwo-2" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Which companies have achieved PoA ™ Gold Dealer Certification?
													</a>
												</h4>
											</div>
											<div id="collapseTwo-2" class="panel-collapse collapse">
												<div class="panel-body">
													We currently work with publicly listed companies or companies that pass our due diligence process and are properly capitalized, insured, and bonded. Participating companies must demonstrate a strong financial record, a history of operational excellence, and strict adherence to financial regulatory compliance.

Participating dealers can only offer LBMA certified precious metal bars on our platform. PoA certified precious metals dealers are DigixGlobal participant companies that have passed our due diligence process to ensure that they have the inventory of LBMA certified precious metals that they can offer to our customers at a competitive price. The DigixGold price feed is based on the lowest price that our precious metals dealers can offer to ensure that our customers are able to purchase at the lowest price possible.
    <p></p>                                                
<p>
<a href="www.valuemax.com.sg">ValueMax</a> is a publicly traded company on the Singapore Stock Exchange. They are an authorized dealer for MKS which is the parent company of PAMP.</p>

												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseThree-2" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Which companies have achieved PoA ™ Custodian/Vault Certification?
													</a>
												</h4>
											</div>
											<div id="collapseThree-2" class="panel-collapse collapse">
												<div class="panel-body">
													PoA ™ Custodians must meet DigixGlobal’s high standards for security and logistic requirements. PoA certified custodians are participant companies that have passed our due diligence process, security audits, and stress tests that can hold and secure physical gold at scale for DigixGlobal customers. By storing gold with participating custodian companies, you can create private redemption vouchers on the Blockchain.
<p></p>
<a href="www.malca-amit.com">Malca-Amit</a> is an international company that provides logistics and storage for high value assets.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseFour-2" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Which companies have achieved PoA ™ Auditor Certification?
													</a>
												</h4>
											</div>
											<div id="collapseFour-2" class="panel-collapse collapse">
												<div class="panel-body">
													PoA ™ certified auditors are participant auditor companies that provide auditing of customer assets that are held by participating custodians. Auditing consists of running a tally count of the bars, verification of refiner’s marks and serial numbers, weighing, and checking for physical anomalies or defects with supplied records. This information is published and digitally signed by participating auditors on the Ethereum blockchain for every PoA certificate that is issued by DigixGlobal and can be viewed by anyone.
<p></p>

<a href="www.inspectorate.com">Bureau Veritas Inspectorate</a> is a multi-national inspection and certification company.
We will be providing more details about our audit process closer to our launch date.


												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-2" href="#collapseFive-2" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Why are there PoA ™ certification service fees?
													</a>
												</h4>
											</div>
											<div id="collapseFive-2" class="panel-collapse collapse">
												<div class="panel-body">
													There are small fees associated in ensuring that customer gold stored with participating custodians are secured. These fees cover the cost of dealing with physical precious metal assets such as storage, monthly audits, and insurance. More details on the fee schedules will be coming up soon.


												</div>
											</div>
										</div>
										
									</div>
									<!-- accordion end -->
								</div>
								<div class="tab-pane fade" id="tab3">
									<!-- accordion start -->
									<div class="panel-group collapse-style-1" id="accordion-faq-3">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-3" href="#collapseOne-3" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> What can one do with redemption vouchers?.
													</a>
												</h4>
											</div>
											<div id="collapseOne-3" class="panel-collapse collapse">
												<div class="panel-body">
													With an Ethereum wallet, these vouchers can be sent and received on the internet without the fear of fraud or duplication by leveraging the decentralized blockchain technology of Ethereum. They can be traded for other digital assets and tokens that are registered on the EtherEx decentralized exchange. They can also be used to create asset backed smart contracts on the Ethereum blockchain.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-3" href="#collapseTwo-3" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Can we exchange these vouchers for physical gold?
													</a>
												</h4>
											</div>
											<div id="collapseTwo-3" class="panel-collapse collapse">
												<div class="panel-body">
													Yes you may. Please submit a request on our Digix Dashboard via a recasting process to receive gold bars.


												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-3" href="#collapseThree-3" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> What is ReCasting?
													</a>
												</h4>
											</div>
											<div id="collapseThree-3" class="panel-collapse collapse">
												<div class="panel-body">
													Users who use our PoA ™ certification to create private redemption vouchers can choose to recast into serialiazed bars of smaller denominations for withdrawal. For example, a redeemer can choose to rebar into a serialised 100g bar off the back of the remaining unspent vouchers created from a 1kg bar. Rebar fee schedules will be up soon, and they will be industry competitive.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-3" href="#collapseFour-3" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Is this related to Bitcoin in any way?
													</a>
												</h4>
											</div>
											<div id="collapseFour-3" class="panel-collapse collapse">
												<div class="panel-body">
													We have no relation to bitcoin. We only use Ethereum’s blockchain technology that was first popularized by bitcoin to create our service.


												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-3" href="#collapseFive-3" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Can someone other than ourselves redeem these vouchers?
													</a>
												</h4>
											</div>
											<div id="collapseFive-3" class="panel-collapse collapse">
												<div class="panel-body">
													Yes. They would have to send us the electronic vouchers and we will have to do the relevant KYC (see here) before allowing the redemption of gold.


												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-3" href="#collapseSix-3" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> What is the minimum redemption/recasting quantity?
													</a>
												</h4>
											</div>
											<div id="collapseSix-3" class="panel-collapse collapse">
												<div class="panel-body">
													Minimum redemption is at 5g fine bars. We would advise a redemption in denominations of 100g or 1kg gold cast bars to save on premium and workmanship fees. Redemption and recasting fee schedules will be up soon.
												</div>
											</div>
										</div>
                                        <div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-3" href="#collapseSix-4" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> How can we figure out the value of each voucher?
													</a>
												</h4>
											</div>
											<div id="collapseSix-4" class="panel-collapse collapse">
												<div class="panel-body">
													The amount of gold in each PoA ™ certificate is stored on the certificate’s data feed and the value is calculated based on the current DigixGlobal price feed as well as any other service fees incurred by that certificate.
												</div>
											</div>
										</div>
                                        <div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion-faq-3" href="#collapseSix-5" class="collapsed">
														<i class="fa fa-question-circle pr-10"></i> Why are there PoA ™ certification service fees?
													</a>
												</h4>
											</div>
											<div id="collapseSix-5" class="panel-collapse collapse">
												<div class="panel-body">
												There are small fees associated in ensuring that customer gold stored with participating custodians are secured. These fees cover the cost of dealing with physical precious metal assets such as storage, monthly audits, and insurance. More details on the fee schedules will be up soon.
                                                </div>
											</div>
										</div>
									</div>
									<!-- accordion end -->
								</div>
							</div>
						</div>
						<!-- main end -->

						<!-- sidebar start -->
						<!-- ================ -->
						<aside class="col-md-4 col-lg-3 col-lg-offset-1">
							<div class="sidebar">
								<div class="block clearfix">
									<h3 class="title">Submit Your Question</h3>
									<div class="separator-2"></div>
									<div class="alert alert-success hidden" id="MessageSent3">
										We have received your message, we will contact you very soon.
									</div>
									<div class="alert alert-danger hidden" id="MessageNotSent3">
										Oops! Something went wrong please refresh the page and try again.
									</div>
									<form role="form" id="sidebar-form" class="margin-clear">
										<div class="form-group has-feedback">
											<label for="name3">Name</label>
											<input type="text" class="form-control" id="name3" placeholder="Enter your name" name="name3">
											<i class="fa fa-user form-control-feedback"></i>
										</div>
										<div class="form-group has-feedback">
											<label for="email3">Email address</label>
											<input type="email" class="form-control" id="email3" placeholder="Enter your email" name="email3">
											<i class="fa fa-envelope form-control-feedback"></i>
										</div>
										<div class="form-group">
											<label>Category</label>
											<select class="form-control" id="category">
												<option value="Sales">Sales</option>
												<option value="Support">Support</option>
												<option value="Lorem">Lorem</option>
												<option value="Ipsum sit">Ipsum sit</option>
												<option value="Dolor amet">Dolor amet</option>
											</select>
										</div>
										<div class="form-group has-feedback">
											<label for="message3">Message</label>
											<textarea class="form-control" rows="4" id="message3" placeholder="" name="message3"></textarea>
											<i class="fa fa-pencil form-control-feedback"></i>
										</div>
										<input type="submit" value="Submit" class="submit-button btn btn-default">
									</form>
								</div>								
														
							</div>
						</aside>
						<!-- sidebar end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->
			
			<!-- footer top start -->
			<!-- ================ -->
			<div class="dark-translucent-bg footer-top animated-text default-hovered" style="background-color:rgba(0,0,0,0.6);">
                
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="call-to-action text-center">
                               
                                
                                
								<div class="row">
									<div class="col-sm-8">
										<h2>Gold on the blockchain</h2>
										<h2> Start using DGX Gold</h2>
									</div>
									<div class="col-sm-4">
										<p class="mt-10"><a class="btn btn-animated btn-lg btn-warning">Coming Soon! <i class="fa fa-download"></i></a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

                            
            
            
             <!-- Anchor Reference -->
                    <a id="News"></a>
            
			<!-- footer top end -->
			<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
			<!-- ================ -->
			<footer id="footer" class="clearfix ">

				<!-- .footer start -->
				<!-- ================ -->
				<div class="footer">
					<div class="container">
						<div class="footer-inner">
							<div class="row">
								<div class="col-md-3">
									<div class="footer-content">
										<div class="logo-footer"><img id="logo-footer" src="https://www.dgx.io/assets/digixglobal_logo_light-9a66823c59b60941d18c266d7b91024d.png" alt=""></div>
                                        
										<p>Asset Tokenisation on the Blockchain</p>
                                        
										<div class="separator-2"></div>
										<nav>
											<ul class="nav nav-pills nav-stacked">
												<li><a target="_blank" href="DGX_PrivacyPolicy.html">Privacy Policy</a></li>
												<li><a target="_blank" href="DGX_AML.html">AML Policy</a></li>
												<li><a target="_blank" href="DGX_TNC.html">Terms and Conditions</a></li>
												<li><a target="_blank" href="DGX_FAQ.html">FAQ</a></li>
											</ul>
										</nav>
									</div>
								</div>
								<div class="col-md-4 twitterfeedoffset">
									<div class="footer-content">
										<h2 class="title">Recent Tweets</h2>
										<div class="separator-2"></div>
										<div class="media margin-clear">
											<div class="media-left">
												<div class="overlay-container">
											<i class="fa fa-twitter media-object"></i>
												
												</div>
											</div>
											<div class="media-body">
												<h6 class="media-heading"><a href="">Lorem ipsum dolor sit amet...</a></h6>
												<p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 23, 2015</p>
											</div>
											<hr>
										</div>
										<div class="media margin-clear">
											<div class="media-left">
												<div class="overlay-container">
													<i class="fa fa-twitter media-object"></i>
												
												</div>
											</div>
											<div class="media-body">
												<h6 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet...</a></h6>
												<p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 22, 2015</p>
											</div>
											<hr>
										</div>
										<div class="media margin-clear">
											<div class="media-left">
												<div class="overlay-container">
													<i class="fa fa-twitter media-object"></i>
				
												</div>
											</div>
											<div class="media-body">
												<h6 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet...</a></h6>
												<p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 21, 2015</p>
											</div>
											<hr>
										</div>
										<div class="media margin-clear">
											<div class="media-left">
												<div class="overlay-container">
													<i class="fa fa-twitter media-object"></i>
												</div>
											</div>
											<div class="media-body">
												<h6 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet...</a></h6>
												<p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 21, 2015</p>
											</div>
										</div>
										
									</div>
								</div>
				
								<div class="col-md-3">
									<div class="footer-content footeroffset">
										<h2 class="title">Find Us</h2>
										<div class="separator-2"></div>
										<p>Track our social media updates.</p>
										<ul class="social-links circle animated-effect-1">
											<li class="facebook"><a target="_blank" href="https://www.facebook.com/digixglobal"><i class="fa fa-facebook"></i></a></li>
											<li class="twitter"><a target="_blank" href="http://www.twitter.com/DigixGlobal"><i class="fa fa-twitter"></i></a></li>
											
											<li class="linkedin"><a target="_blank" href="https://www.linkedin.com/company/digixglobal"><i class="fa fa-linkedin"></i></a></li>

										</ul>
										<div class="separator-2"></div>
										<ul class="list-icons">
											<li><i class="fa fa-map-marker pr-10 text-default"></i> 10 Anson Road #05-17 International Plaza Singapore 079990</li>
								
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .footer end -->

				<!-- .subfooter start -->
				<!-- ================ -->
				<div class="subfooter">
					<div class="container">
						<div class="subfooter-inner">
							<div class="row">
								<div class="col-md-12">
									
                                    <p class="text-center">Copyright © 2015 DigixGlobal Private Limited. All Rights Reserved</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .subfooter end -->

			</footer>
			<!-- footer end -->
			
		</div>
		<!-- page-wrapper end -->

		<!-- JavaScript files placed at the end of the document so the pages load faster -->
		<!-- ================================================== -->
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="plugins/jquery.min.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

		<!-- Modernizr javascript -->
		<script type="text/javascript" src="plugins/modernizr.js"></script>

		<!-- Magnific Popup javascript -->
		<script type="text/javascript" src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
		
		<!-- Appear javascript -->
		<script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>

		<!-- Count To javascript -->
		<script type="text/javascript" src="plugins/jquery.countTo.js"></script>
		
		<!-- Parallax javascript -->
		<script src="plugins/jquery.parallax-1.1.3.js"></script>

		<!-- Contact form -->
		<script src="plugins/jquery.validate.js"></script>

		<!-- Owl carousel javascript -->
		<script type="text/javascript" src="plugins/owl-carousel/owl.carousel.js"></script>
		
		<!-- SmoothScroll javascript -->
		<script type="text/javascript" src="plugins/jquery.browser.js"></script>
		<script type="text/javascript" src="plugins/SmoothScroll.js"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="js/template.js"></script>

		<!-- Custom Scripts -->
		<script type="text/javascript" src="js/custom.js"></script>
	</body>
</html>
