<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<title>Privacy Policy</title>
		<meta name="Privacy Policy" content="DigixGlobal's Privacy Policy">
		<meta name="DigixGlobal" content="htmlcoder.me">

		<!-- Mobile Meta -->
		<meta name="Mobile DGX" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link rel="shortcut icon" href="images/DGX_Icons/favicon-dgx.png">

		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

		<!-- Bootstrap core CSS -->
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet">

		<!-- Font Awesome CSS -->
		<link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

		<!-- Fontello CSS -->
		<link href="fonts/fontello/css/fontello.css" rel="stylesheet">
        
           <!-- DRAFT -->
        <link href="custom.css" rel="stylesheet">

		<!-- Plugins -->
		<link href="plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
		<link href="css/animations.css" rel="stylesheet">
		<link href="plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
		<link href="plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
		<link href="plugins/hover/hover-min.css" rel="stylesheet">
		
		<!-- the project core CSS file -->
		<link href="css/style.css" rel="stylesheet" >

		<!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
		<link href="css/skins/gold_custom.css" rel="stylesheet">

		<!-- Custom css --> 
		<link href="css/custom.css" rel="stylesheet">
	</head>

	<!-- body classes:  -->
	<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
	<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
	<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
	<body class="no-trans  ">

		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
		
		<!-- page wrapper start -->
		<!-- ================ -->
		<div class="page-wrapper">
		
			<!-- header-container start -->
			<div class="header-container">
				
				<!-- header start -->
				<!-- classes:  -->
				<!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
				<!-- "dark": dark version of header e.g. class="header dark clearfix" -->
				<!-- "full-width": mandatory class for the full-width menu layout -->
				<!-- "centered": mandatory class for the centered logo layout -->
				<!-- ================ --> 
				<header class="header  fixed  transparent clearfix">
					
					<div class="container">
						<div class="row">
							<div class="col-md-3">
								<!-- header-left start -->
								<!-- ================ -->
								<div class="header-left clearfix">

									<!-- logo -->
									<div id="logo" class="logo">
										<a href="DGXindex.html"><img id="logo_img" src="https://www.dgx.io/assets/digixglobal_logo_light-9a66823c59b60941d18c266d7b91024d.png" alt="The Project"></a>
									</div>

									<!-- name-and-slogan -->
									<div class="site-slogan">
										Solving your Blockchain Needs
									</div>
									
								</div>
								<!-- header-left end -->

							</div>
							<div class="col-md-9">
					
								<!-- header-right start -->
								<!-- ================ -->
								<div class="header-right clearfix">
									
								<!-- main-navigation start -->
								<!-- classes: -->
								<!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
								<!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
								<!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
								<!-- ================ -->
								<div class="main-navigation  animated with-dropdown-buttons">

									<!-- navbar start -->
									<!-- ================ -->
									<nav class="navbar navbar-default" role="navigation">
										<div class="container-fluid">

											<!-- Toggle get grouped for better mobile display -->
											<div class="navbar-header">
												<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
													<span class="sr-only">Toggle navigation</span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
												</button>
												
											</div>

											<!-- Collect the nav links, forms, and other content for toggling -->
											<div class="collapse navbar-collapse" id="navbar-collapse-1">
												<!-- main-menu -->
												<ul class="nav navbar-nav customoffset">
													<li>
														<a  href="DGXindex.html#Home">Home</a>
														
													</li>
													<li>
														<a href="DGXindex.html#Download">Download</a>
														
													</li>
     
													<li>
														<a href="DGXindex.html#About">About</a>
													
													</li>
                                    
                                                    
													<li>
														<a href="DGXindex.html#Solution">Solutions</a>
														
													</li>
   <li class="dropdown ">
                                                        <a href="template/index-shop.html" class="dropdown-toggle" data-toggle="dropdown">Resources</a>
                                                        <ul class="dropdown-menu">
                                                            <li ><a href="DGX_Team.html">Team</a></li>
                                                            <li ><a href="DGXindex.html#News">News</a></li>
                                                            <li ><a href="DGX_PrivacyPolicy.html">Privacy Policy</a></li>
                                                            <li ><a href="DGX_AML.html">AML Policy</a></li>
                                                            <li ><a href="DGX_FAQ.html">FAQ</a></li>
                                                            <li ><a href="DGX_TNC.html">Terms and Conditions</a></li>
                                                        </ul>
                                                    </li>
												</ul>
                                                
                                                
                        
												<!-- Navi bar End
                                                

												
												<!-- header buttons -->
												<div class="header-dropdown-buttons">
													<a href="mailto:theproject@info.com" class="btn btn-sm hidden-xs btn-default">Contact Us <i class="fa fa-envelope-o pl-5"></i></a>
													<a href="mailto:theproject@info.com" class="btn btn-lg visible-xs btn-block btn-default">Contact Us <i class="fa fa-envelope-o pl-5"></i></a>
												</div>
												<!-- header buttons end-->
												
											</div>

										</div>
									</nav>
									<!-- navbar end -->

								</div>
								<!-- main-navigation end -->	
								</div>
								<!-- header-right end -->
					
							</div>
						</div>
					</div>
					
				</header>
				<!-- header end -->
			</div>
			<!-- header-container end -->
		
			<!-- banner start -->
			<!-- ================ -->
			<div id="collapseMap" class="banner">
				<!-- google map start -->
				<!-- ================ -->
				<div id="map-canvas"></div>
				<!-- google maps end -->
			</div>
			<!-- banner end -->

			<!-- breadcrumb start -->
			<!-- ================ -->
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="DGXindex.html">Home</a></li>
						<li class="active">Privacy Policy</li>
					</ol>
				</div>
			</div>
			<!-- breadcrumb end -->

			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-11">
							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">Privacy Policy</h1>
							<div class="separator-2"></div>
							<!-- page-title end -->
							
							<p>This Privacy Policy (the &ldquo;Policy&rdquo;) is designed to assist you in understanding how we collect, use and safeguard personal information you provide to us when you use our services (the &ldquo;DigixGlobal Services&rdquo;) offered on our website, DigixGlobal.com (&ldquo;our Website&rdquo;).</p>
<p>DigixGlobal pays close attention to your personal privacy and adheres to the Personal Data Protection Act 2012 (PDPA). This privacy policy explains to you:</p>
<ul class="indexed-list">
<li class="ml-50 bfml--50">What personally identifiable information is collected from you through our web site, how it is used and with whom it may be shared.</li>
<li class="ml-50 bfml--50">What choices are available to you regarding the use of your data and how you can correct any inaccuracies in the information.</li>
<li class="ml-50 bfml--50">The security procedures in place to protect the misuse of your information.</li>
</ul>
<p>&nbsp;</p>
<p>Our Privacy Policy may change from time to time and all updates will be posted on this page. By using our Web site you consent to our collection and use of your Personal Information as described in this Privacy Policy.Subject to your rights at law, you agree to be bound by the prevailing terms of this Privacy Policy as updated from time to time on our website.</p>
<p>In this Policy, &ldquo;Personal Information&rdquo; refers to any information, whether true or not, about an individual who can be identified from that information; or from that information and other information to which we have or are likely to have access, including information in our records as may be updated from time to time, and any other information relating to any individuals which you may have provided us from time to time in your interaction with us.</p>
<p>Also, the terms, &ldquo;you,&rdquo; &ldquo;your&rdquo; or &ldquo;user&rdquo; shall refer to you, the user, and &ldquo;DigixGlobal,&rdquo; &ldquo;DGX&rdquo;, &ldquo;we&rdquo;, &ldquo;us&rdquo; or &ldquo;our&rdquo; shall refer to us, DigixGlobal Private Limited, a Singapore company.</p>
<h2 class="terms">1. Collection of Personal Information</h2>
<ul class="indexed-list">
<li class="ml-50 bfml--50">When you visit our Web site you may provide us with two types of information: personal information you voluntarily choose to disclose that is collected on an individual basis, and information about you that is collected as you and others access our Website.</li>
<li class="ml-50 bfml--50">Personal Information you voluntarily provide us: When you sign up on our site to use our online wallets, subscribe to our mailing list, place an order, issue PoA &trade; contracts, recast gold bars or request for information, you may be asked to provide an email address, a mobile number, a credit card, a mailing address, a government ID, a photograph of yourself, a digital signature or any other relevant payment information such as your bank account details and routing numbers. In addition, if you choose to correspond further with us through email, we may retain the content of your email messages together with your email address and our responses.</li>
<li class="ml-50 bfml--50">Information we gather about you from accessing our Website: When you access our Website for any reason whatsoever, we may collect information such as your IP address, your operating hardware, your software, browser information, and cookies that enable us to track and target your surfing habits on our site.</li>
</ul>
<h2 class="terms">2. Usage and Sharing</h2>
<ul class="indexed-list">
<li class="ml-50 bfml--50">We use Personal Information for administering our business activities and to provide you with customer service, technical support, for audit purposes, and to notify you about improvements to our Website and new services we think you will find useful. More importantly, we collect Personal Information so as to mitigate the risk of fraud, identity theft or credit card theft. The Personal Information collected is used to identify any possible breach to your DigixGlobal Account, as well as to identify malicious software or activities that may harm DigixGlobal or its community of users.</li>
<li class="ml-50 bfml--50">We take your privacy very seriously, and will only share your Personal Information if we are legally compelled to do so, particularly, in the following situations:
<ul>
<li class="ml-50 bfml--50">Suspicious transaction activities;</li>
<li class="ml-50 bfml--50">To meet any law, regulation, or governmental request from the Singapore Courts only;</li>
<li class="ml-50 bfml--50">To comply with Singapore anti-money laundering laws (AML). For further information on this, please see our separate&nbsp;<a class="u" href="https://www.dgx.io/en/aml_policy" target="_self">AML Policy</a>;</li>
<li class="ml-50 bfml--50">Preventing and reporting fraud and illicit activity.</li>
</ul>
</li>
</ul>
<h2 class="terms">3. Your Access to and Control Over Personal Information</h2>
<ul class="indexed-list">
<li class="ml-50 bfml--50">You can do the following at any time by contacting us via the email address or phone number given on our website:
<ul>
<li class="ml-50 bfml--50">See what data we have about you, if any.</li>
<li class="ml-50 bfml--50">Change/correct any data we have about you.</li>
<li class="ml-50 bfml--50">Have us delete data we have about you provided you do not have a business relationship with DigixGlobal or DGX services</li>
<li class="ml-50 bfml--50">Express any concern you have about our use of your data.</li>
</ul>
</li>
<li class="ml-50 bfml--50">You may opt out of any future contact from us at any time.</li>
</ul>
<h2 class="terms">4. Security</h2>
<ul class="indexed-list">
<li class="ml-50 bfml--50">We take precautions to protect your information. When you submit sensitive information via the Website, your Personal Information is protected both online and offline.</li>
<li class="ml-50 bfml--50">Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. This can be verified by the &ldquo;closed lock&rdquo; icon at the bottom of your web browser, or looking for &ldquo;https&rdquo; at the beginning of the address of the web page.</li>
<li class="ml-50 bfml--50">While we use encryption to protect Personal Information transmitted online, we also protect your Personal Information offline. Only employees who need the Personal Information to perform a specific job (for example, billing or customer service) are granted access to Personal Information. The computers/servers in which we store Personal Information are kept in a secure environment. For more information, please see our&nbsp;<a class="u" href="https://www.dgx.io/en/security_features" target="_self">security document</a></li>
</ul>
<h2 class="terms">5. Links</h2>
<ul class="indexed-list">
<li class="ml-50 bfml--50">This Website may contain links to other sites. Please be aware that we are not responsible for the content or privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of any other site that collects Personal Information.</li>
</ul>
<h2 class="terms">6. Governing Law</h2>
<ul class="indexed-list">
<li class="ml-50 bfml--50">This Policy is governed by Singapore law.</li>
</ul>
<h2 class="terms">Contacting Us.</h2>
<p>If you have any questions or feedback relating to your Personal Information or our Privacy Policy, or would like to withdraw your consent to the use of your Personal Information, please contact us immediately&nbsp;<a class="u" href="https://www.dgx.io/?locale=en#contact" target="_self">here</a>.</p>
							
						</div>
						<!-- main end -->

						
					
					</div>
				</div>
			</section>
			<!-- main-container end -->

			<div class="clearfix"></div>
			<!-- section end -->
			
			<!-- footer top start -->
			<!-- ================ -->
			<div class="dark-translucent-bg footer-top animated-text default-hovered" style="background-color:rgba(0,0,0,0.6);">
                
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="call-to-action text-center">
                               
                                
                                
								<div class="row">
									<div class="col-sm-8">
										<h2>Gold on the blockchain</h2>
										<h2> Start using DGX Gold</h2>
									</div>
									<div class="col-sm-4">
										<p class="mt-10"><a href="#" class="btn btn-animated btn-lg btn-warning">DGX Gold App <i class="fa fa-download"></i></a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

                            
            
            
             <!-- Anchor Reference -->
                    <a id="News"></a>
            
			<!-- footer top end -->
			<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
			<!-- ================ -->
			<footer id="footer" class="clearfix ">

				<!-- .footer start -->
				<!-- ================ -->
				<div class="footer">
					<div class="container">
						<div class="footer-inner">
							<div class="row">
								<div class="col-md-3">
									<div class="footer-content">
										<div class="logo-footer"><img id="logo-footer" src="https://www.dgx.io/assets/digixglobal_logo_light-9a66823c59b60941d18c266d7b91024d.png" alt=""></div>
                                        
										<p>Asset Tokenisation on the Blockchain</p>
                                        
										<div class="separator-2"></div>
										<nav>
											<ul class="nav nav-pills nav-stacked">
												<li><a target="_blank" href="DGX_PrivacyPolicy.html">Privacy Policy</a></li>
												<li><a target="_blank" href="DGX_AML.html">AML Policy</a></li>
												<li><a target="_blank" href="DGX_TNC.html">Terms and Conditions</a></li>
												<li><a target="_blank" href="DGX_FAQ.html">FAQ</a></li>
											</ul>
										</nav>
									</div>
								</div>
								<div class="col-md-4 twitterfeedoffset">
									<div class="footer-content">
										<h2 class="title">Recent Tweets</h2>
										<div class="separator-2"></div>
										<div class="media margin-clear">
											<div class="media-left">
												<div class="overlay-container">
											<i class="fa fa-twitter media-object"></i>
												
												</div>
											</div>
											<div class="media-body">
												<h6 class="media-heading"><a href="">Lorem ipsum dolor sit amet...</a></h6>
												<p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 23, 2015</p>
											</div>
											<hr>
										</div>
										<div class="media margin-clear">
											<div class="media-left">
												<div class="overlay-container">
													<i class="fa fa-twitter media-object"></i>
												
												</div>
											</div>
											<div class="media-body">
												<h6 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet...</a></h6>
												<p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 22, 2015</p>
											</div>
											<hr>
										</div>
										<div class="media margin-clear">
											<div class="media-left">
												<div class="overlay-container">
													<i class="fa fa-twitter media-object"></i>
				
												</div>
											</div>
											<div class="media-body">
												<h6 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet...</a></h6>
												<p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 21, 2015</p>
											</div>
											<hr>
										</div>
										<div class="media margin-clear">
											<div class="media-left">
												<div class="overlay-container">
													<i class="fa fa-twitter media-object"></i>
												</div>
											</div>
											<div class="media-body">
												<h6 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet...</a></h6>
												<p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 21, 2015</p>
											</div>
										</div>
										
									</div>
								</div>
				
								<div class="col-md-3">
									<div class="footer-content footeroffset">
										<h2 class="title">Find Us</h2>
										<div class="separator-2"></div>
										<p>Track our social media updates.</p>
										<ul class="social-links circle animated-effect-1">
											<li class="facebook"><a target="_blank" href="https://www.facebook.com/digixglobal"><i class="fa fa-facebook"></i></a></li>
											<li class="twitter"><a target="_blank" href="http://www.twitter.com/DigixGlobal"><i class="fa fa-twitter"></i></a></li>
											
											<li class="linkedin"><a target="_blank" href="https://www.linkedin.com/company/digixglobal"><i class="fa fa-linkedin"></i></a></li>

										</ul>
										<div class="separator-2"></div>
										<ul class="list-icons">
											<li><i class="fa fa-map-marker pr-10 text-default"></i> 10 Anson Road #05-17 International Plaza Singapore 079990</li>
								
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .footer end -->

				<!-- .subfooter start -->
				<!-- ================ -->
				<div class="subfooter">
					<div class="container">
						<div class="subfooter-inner">
							<div class="row">
								<div class="col-md-12">
									
                                    <p class="text-center">Copyright © 2015 DigixGlobal Private Limited. All Rights Reserved</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .subfooter end -->

			</footer>
			<!-- footer end -->
			
		</div>
		<!-- page-wrapper end -->

		<!-- JavaScript files placed at the end of the document so the pages load faster -->
		<!-- ================================================== -->
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="plugins/jquery.min.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

		<!-- Modernizr javascript -->
		<script type="text/javascript" src="plugins/modernizr.js"></script>

		<!-- Magnific Popup javascript -->
		<script type="text/javascript" src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
		
		<!-- Appear javascript -->
		<script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>

		<!-- Count To javascript -->
		<script type="text/javascript" src="plugins/jquery.countTo.js"></script>
		
		<!-- Parallax javascript -->
		<script src="plugins/jquery.parallax-1.1.3.js"></script>

		<!-- Contact form -->
		<script src="plugins/jquery.validate.js"></script>

		<!-- Google Maps javascript -->
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;signed_in=true"></script>
		<script type="text/javascript" src="js/google.map.config.js"></script>

		<!-- Owl carousel javascript -->
		<script type="text/javascript" src="plugins/owl-carousel/owl.carousel.js"></script>
		
		<!-- SmoothScroll javascript -->
		<script type="text/javascript" src="plugins/jquery.browser.js"></script>
		<script type="text/javascript" src="plugins/SmoothScroll.js"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="js/template.js"></script>

		<!-- Custom Scripts -->
		<script type="text/javascript" src="js/custom.js"></script>
	</body>
</html>
