<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<title> DGX GOLD </title>
		<meta name="DigixGlobal" content="DGX Gold - Built on Ethereum Blockchain">
		<meta name="DigixGlobal Pte Ltd" content="htmlcoder.me">

		<!-- Mobile Meta -->
		<meta name="Mobile DGX" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link rel="shortcut icon" href="images/DGX_Icons/favicon-dgx.png">

		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

		<!-- Bootstrap core CSS -->
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet">

		<!-- Font Awesome CSS -->
		<link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

		<!-- Fontello CSS -->
		<link href="fonts/fontello/css/fontello.css" rel="stylesheet">
        
        <!-- DRAFT -->
        <link href="custom.css" rel="stylesheet">

		<!-- Plugins -->
		<link href="plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
		<link href="plugins/rs-plugin/css/settings.css" rel="stylesheet">
		<link href="css/animations.css" rel="stylesheet">
		<link href="plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
		<link href="plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
		<link href="plugins/hover/hover-min.css" rel="stylesheet">
		<link href="plugins/morphext/morphext.css" rel="stylesheet">
		
		<!-- the project core CSS file -->
		<link href="css/style.css" rel="stylesheet" >

		<!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
		<link href="css/skins/gold_custom.css" rel="stylesheet">

		<!-- Custom css --> 
		<link href="css/custom.css" rel="stylesheet">
	</head>

	<!-- body classes:  -->
	<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
	<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
	<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
	<body class="no-trans front-page transparent-header ">

		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
		
		<!-- page wrapper start -->
		<!-- ================ -->
		<div class="page-wrapper">
		
			<!-- header-container start -->
			<div class="header-container">
				
				<!-- header start -->
				<!-- classes:  -->
				<!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
				<!-- "dark": dark version of header e.g. class="header dark clearfix" -->
				<!-- "full-width": mandatory class for the full-width menu layout -->
				<!-- "centered": mandatory class for the centered logo layout -->
				<!-- ================ --> 
				<header class="header  fixed  transparent clearfix">
					
					<div class="container">
						<div class="row">
							<div class="col-md-3">
								<!-- header-left start -->
								<!-- ================ -->
								<div class="header-left clearfix">

									<!-- logo -->
									<div id="logo" class="logo">
										<a href="DGXindex.html"><img id="logo_img" src="https://www.dgx.io/assets/digixglobal_logo_light-9a66823c59b60941d18c266d7b91024d.png" alt="The Project"></a>
									</div>

									<!-- name-and-slogan -->
									<div class="site-slogan">
										The Smart Asset Company
									</div>
									
								</div>
								<!-- header-left end -->

							</div>
							<div class="col-md-9">
					
								<!-- header-right start -->
								<!-- ================ -->
								<div class="header-right clearfix">
									
								<!-- main-navigation start -->
								<!-- classes: -->
								<!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
								<!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
								<!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
								<!-- ================ -->
								<div class="main-navigation  animated with-dropdown-buttons">

									<!-- navbar start -->
									<!-- ================ -->
									<nav class="navbar navbar-default" role="navigation">
										<div class="container-fluid">

											<!-- Toggle get grouped for better mobile display -->
											<div class="navbar-header">
												<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
													<span class="sr-only">Toggle navigation</span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
												</button>
												
											</div>

											<!-- Collect the nav links, forms, and other content for toggling -->
											<div class="collapse navbar-collapse" id="navbar-collapse-1">
												<!-- main-menu -->
												<ul class="nav navbar-nav customoffset" id="top-nav">
													<li>
														<a  href="#Home">Home</a>
														
													</li>
													<li>
														<a href="#Download">Download</a>
														
													</li>
     
													<li>
														<a href="#About">About</a>
													
													</li>
										 
													<li>
														<a href="#Solution">Solutions</a>
														
													</li>
                                                    
                                                     <li>
														<a href="DGX_blog.html">Blog</a>
														
													</li>
   <li class="dropdown ">
                                                        <a data-toggle="dropdown">Resources</a>
                                                        <ul class="dropdown-menu">
                                                            <li ><a href="DGX_Team.html">Team</a></li>
                                                            <li ><a href="#News">News</a></li>
                                                            <li ><a href="DGX_PrivacyPolicy.html">Privacy Policy</a></li>
                                                            <li ><a href="DGX_AML.html">AML Policy</a></li>
                                                            <li ><a href="DGX_FAQ.html">FAQ</a></li>
                                                            <li ><a href="DGX_TnC.html">Terms and Conditions</a></li>
                                                        </ul>
                                                    </li>
                                                    
                                                   
												</ul>
                                                
                                                
                        
												<!-- Navi bar End
                                                

												
												<!-- header buttons -->
												<div class="header-dropdown-buttons">
													<a href="mailto:theproject@info.com" class="btn btn-sm hidden-xs btn-default">Contact Us <i class="fa fa-envelope-o pl-5"></i></a>
													<a href="mailto:theproject@info.com" class="btn btn-lg visible-xs btn-block btn-default">Contact Us <i class="fa fa-envelope-o pl-5"></i></a>
												</div>
												<!-- header buttons end-->
												
											</div>

										</div>
									</nav>
									<!-- navbar end -->

								</div>
								<!-- main-navigation end -->	
								</div>
								<!-- header-right end -->
					
							</div>
						</div>
					</div>
					
				</header>
				<!-- header end -->
			</div>
			<!-- header-container end -->
		
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner clearfix">

				<!-- slideshow start -->
				<!-- ================ -->
				<div class="slideshow">
                    
                    <!-- Anchor Reference -->
                    <a id="Home"></a>
					
					<!-- slider revolution start -->
					<!-- ================ -->
					<div class="slider-banner-container">
						<div class="slider-banner-fullwidth-big-height">
							<ul class="slides">
								<!-- slide 1 start -->
								<!-- ================ -->
								<li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="500" data-saveperformance="on" data-title="DGX Gold">
								
								<!-- main image -->
								<img src="images/Backgrounds/safe_wall.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">
								
								<!-- Transparent Background -->
								<div class="tp-caption dark-translucent-bg"
									data-x="center"
									data-y="bottom"
									data-speed="600"
									data-start="0">
								</div>

								<!-- LAYER NR. 1 -->
								<div class="tp-caption sfb fadeout large_white"
									data-x="left"
									data-y="150"
									data-speed="500"
									data-start="1000"
									data-easing="easeOutQuad"
									data-end="10000">DGX Gold - Proof of Asset Technology on Ethereum
								</div>	

								<!-- LAYER NR. 2 -->
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="230" 
									data-speed="500"
									data-start="1300"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-key"></i></span> Create encrypted digital keys to your safe deposit
								</div>

								<!-- LAYER NR. 3 -->
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="290" 
									data-speed="500"
									data-start="1600"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-ticket"></i></span> Send and receive Gold ownership vouchers on Ethereum
								</div>

								<!-- LAYER NR. 4 -->
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="350" 
									data-speed="500"
									data-start="1900"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-exchange"></i></span> Transfer your asset ownership easily on the blockchain
								</div>

								<!-- LAYER NR. 5 -->
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="410" 
									data-speed="500"
									data-start="2200"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-money"></i></span> Redeem physical gold bars with DGX Gold vouchers
								</div>

								<!-- LAYER NR. 6 -->
								<div class="tp-caption sfb fadeout small_white"
									data-x="left"
									data-y="480"
									data-speed="500"
									data-start="2500"
									data-easing="easeOutQuad"
									data-endspeed="600">
                                    <a  class="btn btn-animated btn-lg btn-warning">Coming Soon! <i class="fa fa-download"></i></a>
								</div>

								</li>
								<!-- slide 1 end -->

								<!-- slide 2 start -->
								<!-- ================ -->
								<li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="500" data-saveperformance="on" data-title="DigixGlobal">
								
								<!-- main image -->
								<img src="images/backgrounds/gold_wall.jpg" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">

								<!-- Transparent Background -->
								<div class="tp-caption dark-translucent-bg"
									data-x="center"
									data-y="bottom"
									data-speed="600"
									data-start="0">
								</div>

								<!-- LAYER NR. 1 -->
								<div class="tp-caption sfb fadeout large_white"
									data-x="left"
									data-y="150"
									data-speed="500"
									data-start="1000"
									data-easing="easeOutQuad"
									data-end="10000">DGX Gold - Built on Ethereum
								</div>	

								<!-- LAYER NR. 2 -->
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="230" 
									data-speed="500"
									data-start="1300"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="icon-check"></i></span> 99.999% LBMA Approved Gold Bullion
								</div>

								<!-- LAYER NR. 3 -->
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="290" 
									data-speed="500"
									data-start="1600"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="icon-check"></i></span> PAMP SUISSE
								</div>

								<!-- LAYER NR. 4 -->
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="350" 
									data-speed="500"
									data-start="1900"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="icon-check"></i></span> 100g and 1000g Bars
								</div>

								<!-- LAYER NR. 5 -->
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="410" 
									data-speed="500"
									data-start="2200"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="icon-check"></i></span> Proper Certification Provided
								</div>

								<!-- LAYER NR. 6 -->
								<div class="tp-caption sfb fadeout small_white"
									data-x="left"
									data-y="480"
									data-speed="500"
									data-start="2500"
									data-easing="easeOutQuad"
									data-endspeed="600"><a  class="btn btn-animated btn-lg btn-warning">Coming Soon! <i class="fa fa-download"></i></a>
								</div>

								</li>
								<!-- slide 2 end -->

<!-- slide 3 start -->
								<!-- ================ -->
								<li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="500" data-saveperformance="on" data-title="Security">
								
								<!-- main image -->
								<img src="images/backgrounds/dial_wall.jpg" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">

								<!-- Transparent Background -->
								<div class="tp-caption dark-translucent-bg"
									data-x="center"
									data-y="bottom"
									data-speed="600"
									data-start="0">
								</div>

								<!-- LAYER NR. 1 -->
								<div class="tp-caption sfb fadeout large_white"
									data-x="left"
									data-y="150"
									data-speed="500"
									data-start="1000"
									data-easing="easeOutQuad"
									data-end="10000">100% Secure
								</div>	

								<!-- LAYER NR. 2 -->
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="230" 
									data-speed="500"
									data-start="1300"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-laptop"></i></span> Desktop Client for Mac and Windows
								</div>

								<!-- LAYER NR. 3 -->
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="290" 
									data-speed="500"
									data-start="1600"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-server"></i></span> SSL Connection for every user
								</div>

								<!-- LAYER NR. 4 -->
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="350" 
									data-speed="500"
									data-start="1900"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="glyphicon glyphicon-lock"></i></span> Best Practice in Network Security
								</div>

								<!-- LAYER NR. 5 -->
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="410" 
									data-speed="500"
									data-start="2200"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="icon-clipboard-1"></i></span> Generic I/O Contracts for smart contracts and Dapps
								</div>

								<!-- LAYER NR. 6 -->
								<div class="tp-caption sfb fadeout small_white"
									data-x="left"
									data-y="480"
									data-speed="500"
									data-start="2500"
									data-easing="easeOutQuad"
									data-endspeed="600"><a  class="btn btn-animated btn-lg btn-warning">Coming Soon! <i class="fa fa-download"></i></a>
								</div>

								</li>
								<!-- slide 3 end -->
                                
                                
                                
							</ul>
							<div class="tp-bannertimer"></div>
						</div>
					</div>
					<!-- slider revolution end -->

				</div>
				<!-- slideshow end -->

			</div>
			<!-- banner end -->

			<div id="page-start"></div>

			<!-- section start -->
			<!-- ================ -->
			<section class="section light-gray-bg pv-30 padding-bottom-clear clearfix">
				<div class="container">
					<div class="row">
						<div class="col-md-4 ">
							<div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
								<span class="icon without-bg"><i class="fa text-default fa-bank"></i></span>
								<div class="body">
									<h4 class="title">Purchase &amp; Store Gold</h4>
									<p class="text-muted">Buy only LBMA approved Pamp Suisse gold bars from a DigixGlobal. Certifications of proof are always provided. All customers' assets are segregated from Digixglobal's assets. Digixglobal has zero rights to them.</p>
									
								</div>
							</div>
						</div>
						<div class="col-md-4 ">
							<div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
								<span class="icon without-bg"><i class="glyphicon text-default glyphicon glyphicon-certificate"></i></span>
								<div class="body">
									<h4 class="title">PoA™ Smart Contracts</h4>
									<p class="text-muted">Proof of Asset (PoA™) is a tri-party digital certificate and agreement among the supplier of gold, the certified custodian and an independent auditor to create DGX Gold vouchers on the Ethereum blockchain.</p>
							
								</div>
							</div>
						</div>
						<div class="col-md-4 ">
							<div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
								<span class="icon without-bg"><i class="fa text-default fa-gavel"></i></span>
                               
								<div class="body">
									<h4 class="title"> Redeeming DGX Gold</h4>
									<p class="text-muted">DGX Gold vouchers can be converted into physical gold bars for vault storage, shipment, or physical pick up. For ease of liquidation, they can also be exchanged for cyrpto currencies and assets on EtherEx.</p>
                                
                                
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->

			<!-- section start -->
			<!-- ================ --> 
            
            
              <!-- Anchor Reference -->
                <a id="About" class="customoffset"></a>
            
			<section class="section clearfix">
               
				<div class="container">
                     
                   <div class="row">
									<div class="col-sm-9">
                                       
										<h2>About Us</h2>
								
									</div>
									<div class="col-sm-3">
										<p class="mt-10"><a class="btn btn-animated btn-lg btn-warning">Coming Soon! <i class="fa fa-download"></i></a></p>
									</div>
								</div>
				
                    
					<div class="separator-2"></div>
					<div class="row">
						<div class="col-md-6">
							<!-- accordion start -->
							<!-- ================ -->
							<div class="panel-group collapse-style-1" id="accordion">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapseOne">
												<i class="fa fa-certificate pr-10"></i>DGX GOLD
											</a>
										</h4>
									</div>
									<div id="collapseOne" class="panel-collapse collapse in">
										<div class="panel-body">
											Users who purchase and store gold with us in our deposit vaults will be able to send their gold ownership vouchers on the blockchain. These vouchers can be customized to unlock partial or all assets, be kept in the Ethereum wallet as a store of value or be redeemed for physical gold at our vaults. Our I/O Generic contract function allows you to integrate DGX Gold into any DAPPs. We only offer LBMA approved PAMP SUISSE Gold bullion.	</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
												<i class="fa fa-laptop pr-10"></i>Desktop App
											</a>
										</h4>
									</div>
									<div id="collapseTwo" class="panel-collapse collapse">
										<div class="panel-body">
											Our desktop App allows you to securely purchase and issue DGX Gold vouchers on the blockchain.
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
												<i class="fa fa-connectdevelop pr-10"></i>Ether and DGX wallet
											</a>
										</h4>
									</div>
									<div id="collapseThree" class="panel-collapse collapse">
										<div class="panel-body">
											Our app provides you with an Ether and DGX voucher wallet
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											
                <!-- Anchor Reference for About-->
                                            
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed" id="Solution">
                        
												<i class="fa fa-lock pr-10"></i>100% Secure
											</a>
										</h4>
									</div>
									<div id="collapseFour" class="panel-collapse collapse">
										<div class="panel-body">
											All client information goes directly into our servers via SSL.
										</div>
									</div>
								</div>
							</div>
							<!-- accordion end -->
						</div>
						<div class="col-md-6 space-bottom">
							<div class="embed-responsive embed-responsive-16by9">
								<iframe class="embed-responsive-item" src="//player.vimeo.com/video/29198414?byline=0&amp;portrait=0"></iframe>
								<p><a href="http://vimeo.com/29198414">Introducing Vimeo Music Store</a> from <a href="http://vimeo.com/staff">Vimeo Staff</a> on <a href="https://vimeo.com">Vimeo</a>.</p>  
							</div>
						</div>
					</div>
                    
                   
				</div>
                
 			<!-- section start -->
			<!-- ================ -->
                
			<section class="section clearfix">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="call-to-action well">
								<h2 class="title">Need a solution on the blockchain?</h2>
								<div class="row">
									<div class="col-sm-8">
										<p>DigixGlobal is a blockchain solutions provider. Click on the link on the right to learn more about what we can do for you.</p>
									</div>
									<div class="col-sm-4 text-right">
										<a 
target="_blank" href="http://www.blockchainsolutions.io" class="btn btn-lg btn-default btn-animated">Blockchain Solutions<i class="fa fa-arrow-right pl-20"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->
                
                
 
                
                
                
                
                 <!-- Anchor Reference -->
                  <a id="Download"></a>
                                    
			</section>
			<!-- section end -->




			<!-- section start -->
			<!-- ================ -->
			<section class="dark-translucent-bg background-img-7 pv-40">
                

				<div class="owl-carousel content-slider">
                    
                    
                    <div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<div class="testimonial text-center">

                                        <div class="customcontainer">
										<img src="images/Working_with/valuemax.jpg" alt="ValueMax" title="ValueMax">
									</div>
									<h3>ValueMax - Bullion Supplier</h3>
									<div class="separator"></div>
									<div class="testimonial-body">
										
											<p>ValueMax Pawnshop is one of Singapore’s oldest and best-established pawnbroking chains. Established in 1988, they provide pawnbroking services, and retail and trading of pre-owned jewellery, gold and luxury timepieces.</p>
										
									</div>
								</div>
							</div>
						</div>
					</div>
                    
                    
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<div class="testimonial text-center">
									
                                        									<div class="customcontainer">

                                        
										<img src="images/Working_with/bureauveritas.jpg" alt="Bureau Veritas" title="Bureau Veritas">
									</div>
									<h3>Bureau Veritas - Independent Auditor</h3>
									<div class="separator"></div>
									<div class="testimonial-body">
										
											<p>Bureau Veritas Inspectorate is a multinational group with capabilities in an extensive range of commodities, providing independent inspection, sampling and testing services of precious metal commodities.</p>
									
									</div>
								</div>
							</div>
						</div>
					</div>
                    				
                    
                    
                    <div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<div class="testimonial text-center">
                                     
									<div class="customcontainer">
                                        
										<img src="images/Working_with/malca.jpg" alt="Malca Amit" title="Malca Amit">
									</div>
									<h3>Malca Amit - Asset Custodian</h3>
									<div class="separator"></div>
									<div class="testimonial-body">
										
											<p>Malca-Amit's state of the art facility near Changi International Airport are located in the Singapore Freeport, a 25,000 sqm high-security and climate-controlled facility featuring cutting edge security technologies enhanced by green building engineering.</p>
                                    
                                      
									
									</div>
								</div>
							</div>
						</div>
					</div>
                    

                    
				</div>
			</section>
			<!-- section end -->

			<!-- footer top start -->
			<!-- ================ -->
			<div class="dark-translucent-bg footer-top animated-text default-hovered" style="background-color:rgba(0,0,0,0.6);">
                
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="call-to-action text-center">
                               
                                
                                
								<div class="row">
									<div class="col-sm-8">
										<h2>Gold on the blockchain</h2>
										<h2> Start using DGX Gold</h2>
									</div>
									<div class="col-sm-4">
										<p class="mt-10"><a class="btn btn-animated btn-lg btn-warning">Coming Soon! <i class="fa fa-download"></i></a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

                            
            
            
             <!-- Anchor Reference -->
                    <a id="News"></a>
            
			<!-- footer top end -->
			<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
			<!-- ================ -->
			<footer id="footer" class="clearfix ">

				<!-- .footer start -->
				<!-- ================ -->
				<div class="footer">
					<div class="container">
						<div class="footer-inner">
							<div class="row">
								<div class="col-md-3">
									<div class="footer-content">
										<div class="logo-footer"><img id="logo-footer" src="https://www.dgx.io/assets/digixglobal_logo_light-9a66823c59b60941d18c266d7b91024d.png" alt=""></div>
                                        
										<p>Asset Tokenisation on the Blockchain</p>
                                        
										<div class="separator-2"></div>
										<nav>
											<ul class="nav nav-pills nav-stacked">
												<li><a target="_blank" href="DGX_PrivacyPolicy.html">Privacy Policy</a></li>
												<li><a target="_blank" href="DGX_AML.html">AML Policy</a></li>
												<li><a target="_blank" href="DGX_TNC.html">Terms and Conditions</a></li>
												<li><a target="_blank" href="DGX_FAQ.html">FAQ</a></li>
											</ul>
										</nav>
									</div>
								</div>
								<div class="col-md-4 twitterfeedoffset">
									<div class="footer-content">
										<h2 class="title">Recent Tweets</h2>
										<div class="separator-2"></div>
										<div class="media margin-clear">
											<div class="media-left">
												<div class="overlay-container">
											<i class="fa fa-twitter media-object"></i>
												
												</div>
											</div>
											<div class="media-body">
												<h6 class="media-heading"><a href="">Lorem ipsum dolor sit amet...</a></h6>
												<p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 23, 2015</p>
											</div>
											<hr>
										</div>
										<div class="media margin-clear">
											<div class="media-left">
												<div class="overlay-container">
													<i class="fa fa-twitter media-object"></i>
												
												</div>
											</div>
											<div class="media-body">
												<h6 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet...</a></h6>
												<p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 22, 2015</p>
											</div>
											<hr>
										</div>
										<div class="media margin-clear">
											<div class="media-left">
												<div class="overlay-container">
													<i class="fa fa-twitter media-object"></i>
				
												</div>
											</div>
											<div class="media-body">
												<h6 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet...</a></h6>
												<p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 21, 2015</p>
											</div>
											<hr>
										</div>
										<div class="media margin-clear">
											<div class="media-left">
												<div class="overlay-container">
													<i class="fa fa-twitter media-object"></i>
												</div>
											</div>
											<div class="media-body">
												<h6 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet...</a></h6>
												<p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 21, 2015</p>
											</div>
										</div>
										
									</div>
								</div>
				
								<div class="col-md-3">
									<div class="footer-content footeroffset">
										<h2 class="title">Find Us</h2>
										<div class="separator-2"></div>
										<p>Track our social media updates.</p>
										<ul class="social-links circle animated-effect-1">
											<li class="facebook"><a target="_blank" href="https://www.facebook.com/digixglobal"><i class="fa fa-facebook"></i></a></li>
											<li class="twitter"><a target="_blank" href="http://www.twitter.com/DigixGlobal"><i class="fa fa-twitter"></i></a></li>
											
											<li class="linkedin"><a target="_blank" href="https://www.linkedin.com/company/digixglobal"><i class="fa fa-linkedin"></i></a></li>

										</ul>
										<div class="separator-2"></div>
										<ul class="list-icons">
											<li><i class="fa fa-map-marker pr-10 text-default"></i> 10 Anson Road #05-17 International Plaza Singapore 079990</li>
								
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .footer end -->

				<!-- .subfooter start -->
				<!-- ================ -->
				<div class="subfooter">
					<div class="container">
						<div class="subfooter-inner">
							<div class="row">
								<div class="col-md-12">
									
                                    <p class="text-center">Copyright © 2015 DigixGlobal Private Limited. All Rights Reserved</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .subfooter end -->

			</footer>
			<!-- footer end -->
			
		</div>
		<!-- page-wrapper end -->

		<!-- JavaScript files placed at the end of the document so the pages load faster -->
		<!-- ================================================== -->
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="plugins/jquery.min.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

		<!-- Modernizr javascript -->
		<script type="text/javascript" src="plugins/modernizr.js"></script>

		<!-- jQuery Revolution Slider  -->
		<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

		<!-- Isotope javascript -->
		<script type="text/javascript" src="plugins/isotope/isotope.pkgd.min.js"></script>
		
		<!-- Magnific Popup javascript -->
		<script type="text/javascript" src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
		
		<!-- Appear javascript -->
		<script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>

		<!-- Count To javascript -->
		<script type="text/javascript" src="plugins/jquery.countTo.js"></script>
		
		<!-- Parallax javascript -->
		<script src="plugins/jquery.parallax-1.1.3.js"></script>

		<!-- Contact form -->
		<script src="plugins/jquery.validate.js"></script>

		<!-- Morphext -->
		<script type="text/javascript" src="plugins/morphext/morphext.min.js"></script>

		<!-- Background Video -->
		<script src="plugins/vide/jquery.vide.js"></script>

		<!-- Owl carousel javascript -->
		<script type="text/javascript" src="plugins/owl-carousel/owl.carousel.js"></script>
		
		<!-- SmoothScroll javascript -->
		<script type="text/javascript" src="plugins/jquery.browser.js"></script>
		<script type="text/javascript" src="plugins/SmoothScroll.js"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="js/template.js"></script>

		<!-- Custom Scripts -->
		<script type="text/javascript" src="js/custom.js"></script>
        
        <script> 
        $('#top-nav').onePageNav({
    currentClass: 'active',
    changeHash: false,
    scrollSpeed: 750
            })
 </script>
	</body>
</html>
