---
title: DigixGlobal - Home
---
{{>homepage-header}}

      <div class="banner clearfix">

        <!-- slideshow start -->
        <!-- ================ -->
        <div class="slideshow">
                    
                    <!-- Anchor Reference -->
                    <a id="Home"></a>
          
          <!-- slider revolution start -->
          <!-- ================ -->
          <div class="slider-banner-container">
            <div class="slider-banner-fullwidth-big-height">
              <ul class="slides">
                <!-- slide 1 start -->
                <!-- ================ -->
                <li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="500" data-saveperformance="on" data-title="DGX Gold">
                
                <!-- main image -->
                <img src="/assets/images/safe_wall.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">
                
                <!-- Transparent Background -->
                <div class="tp-caption dark-translucent-bg"
                  data-x="center"
                  data-y="bottom"
                  data-speed="600"
                  data-start="0">
                </div>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption sfb fadeout large_white"
                  data-x="left"
                  data-y="150"
                  data-speed="500"
                  data-start="1000"
                  data-easing="easeOutQuad"
                  data-end="10000">DGX Gold - Proof of Asset Technology on Ethereum
                </div>  

                <!-- LAYER NR. 2 -->
                <div class="tp-caption sfb fadeout text-left medium_white"
                  data-x="left"
                  data-y="230" 
                  data-speed="500"
                  data-start="1300"
                  data-easing="easeOutQuad"
                  data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-key"></i></span> Create encrypted digital keys to your safe deposit
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption sfb fadeout text-left medium_white"
                  data-x="left"
                  data-y="290" 
                  data-speed="500"
                  data-start="1600"
                  data-easing="easeOutQuad"
                  data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-ticket"></i></span> Send and receive Gold ownership vouchers on Ethereum
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption sfb fadeout text-left medium_white"
                  data-x="left"
                  data-y="350" 
                  data-speed="500"
                  data-start="1900"
                  data-easing="easeOutQuad"
                  data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-exchange"></i></span> Transfer your asset ownership easily on the blockchain
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption sfb fadeout text-left medium_white"
                  data-x="left"
                  data-y="410" 
                  data-speed="500"
                  data-start="2200"
                  data-easing="easeOutQuad"
                  data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-money"></i></span> Redeem physical gold bars with DGX Gold vouchers
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption sfb fadeout small_white"
                  data-x="left"
                  data-y="480"
                  data-speed="500"
                  data-start="2500"
                  data-easing="easeOutQuad"
                  data-endspeed="600">
                                    <a  class="btn btn-animated btn-lg btn-warning">Coming Soon! <i class="fa fa-download"></i></a>
                </div>

                </li>
                <!-- slide 1 end -->

                <!-- slide 2 start -->
                <!-- ================ -->
                <li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="500" data-saveperformance="on" data-title="DigixGlobal">
                
                <!-- main image -->
                <img src="/assets/images/gold_wall.jpg" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">

                <!-- Transparent Background -->
                <div class="tp-caption dark-translucent-bg"
                  data-x="center"
                  data-y="bottom"
                  data-speed="600"
                  data-start="0">
                </div>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption sfb fadeout large_white"
                  data-x="left"
                  data-y="150"
                  data-speed="500"
                  data-start="1000"
                  data-easing="easeOutQuad"
                  data-end="10000">DGX Gold - Built on Ethereum
                </div>  

                <!-- LAYER NR. 2 -->
                <div class="tp-caption sfb fadeout text-left medium_white"
                  data-x="left"
                  data-y="230" 
                  data-speed="500"
                  data-start="1300"
                  data-easing="easeOutQuad"
                  data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="icon-check"></i></span> 99.999% LBMA Approved Gold Bullion
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption sfb fadeout text-left medium_white"
                  data-x="left"
                  data-y="290" 
                  data-speed="500"
                  data-start="1600"
                  data-easing="easeOutQuad"
                  data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="icon-check"></i></span> PAMP SUISSE
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption sfb fadeout text-left medium_white"
                  data-x="left"
                  data-y="350" 
                  data-speed="500"
                  data-start="1900"
                  data-easing="easeOutQuad"
                  data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="icon-check"></i></span> 100g and 1000g Bars
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption sfb fadeout text-left medium_white"
                  data-x="left"
                  data-y="410" 
                  data-speed="500"
                  data-start="2200"
                  data-easing="easeOutQuad"
                  data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="icon-check"></i></span> Proper Certification Provided
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption sfb fadeout small_white"
                  data-x="left"
                  data-y="480"
                  data-speed="500"
                  data-start="2500"
                  data-easing="easeOutQuad"
                  data-endspeed="600"><a  class="btn btn-animated btn-lg btn-warning">Coming Soon! <i class="fa fa-download"></i></a>
                </div>

                </li>
                <!-- slide 2 end -->

<!-- slide 3 start -->
                <!-- ================ -->
                <li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="500" data-saveperformance="on" data-title="Security">
                
                <!-- main image -->
                <img src="/assets/images/dial_wall.jpg" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">

                <!-- Transparent Background -->
                <div class="tp-caption dark-translucent-bg"
                  data-x="center"
                  data-y="bottom"
                  data-speed="600"
                  data-start="0">
                </div>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption sfb fadeout large_white"
                  data-x="left"
                  data-y="150"
                  data-speed="500"
                  data-start="1000"
                  data-easing="easeOutQuad"
                  data-end="10000">100% Secure
                </div>  

                <!-- LAYER NR. 2 -->
                <div class="tp-caption sfb fadeout text-left medium_white"
                  data-x="left"
                  data-y="230" 
                  data-speed="500"
                  data-start="1300"
                  data-easing="easeOutQuad"
                  data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-laptop"></i></span> Desktop Client for Mac and Windows
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption sfb fadeout text-left medium_white"
                  data-x="left"
                  data-y="290" 
                  data-speed="500"
                  data-start="1600"
                  data-easing="easeOutQuad"
                  data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-server"></i></span> SSL Connection for every user
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption sfb fadeout text-left medium_white"
                  data-x="left"
                  data-y="350" 
                  data-speed="500"
                  data-start="1900"
                  data-easing="easeOutQuad"
                  data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="glyphicon glyphicon-lock"></i></span> Best Practice in Network Security
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption sfb fadeout text-left medium_white"
                  data-x="left"
                  data-y="410" 
                  data-speed="500"
                  data-start="2200"
                  data-easing="easeOutQuad"
                  data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="icon-clipboard-1"></i></span> Generic I/O Contracts for smart contracts and Dapps
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption sfb fadeout small_white"
                  data-x="left"
                  data-y="480"
                  data-speed="500"
                  data-start="2500"
                  data-easing="easeOutQuad"
                  data-endspeed="600"><a  class="btn btn-animated btn-lg btn-warning">Coming Soon! <i class="fa fa-download"></i></a>
                </div>

                </li>
                <!-- slide 3 end -->
                                
                                
                                
              </ul>
              <div class="tp-bannertimer"></div>
            </div>
          </div>
          <!-- slider revolution end -->

        </div>
        <!-- slideshow end -->

      </div>
      <!-- banner end -->

      <div id="page-start"></div>

      <!-- section start -->
      <!-- ================ -->
      <section class="section light-gray-bg pv-30 padding-bottom-clear clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-4 ">
              <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon without-bg"><i class="fa text-default fa-bank"></i></span>
                <div class="body">
                  <h4 class="title">Purchase &amp; Store Gold</h4>
                  <p class="text-muted">Buy only LBMA approved Pamp Suisse gold bars from a DigixGlobal. Certifications of proof are always provided. All customers' assets are segregated from Digixglobal's assets. Digixglobal has zero rights to them.</p>
                  
                </div>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
                <span class="icon without-bg"><i class="glyphicon text-default glyphicon glyphicon-certificate"></i></span>
                <div class="body">
                  <h4 class="title">PoA™ Smart Contracts</h4>
                  <p class="text-muted">Proof of Asset (PoA™) is a tri-party digital certificate and agreement among the supplier of gold, the certified custodian and an independent auditor to create DGX Gold vouchers on the Ethereum blockchain.</p>
              
                </div>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                <span class="icon without-bg"><i class="fa text-default fa-gavel"></i></span>
                               
                <div class="body">
                  <h4 class="title"> Redeeming DGX Gold</h4>
                  <p class="text-muted">DGX Gold vouchers can be converted into physical gold bars for vault storage, shipment, or physical pick up. For ease of liquidation, they can also be exchanged for cyrpto currencies and assets on EtherEx.</p>
                                
                                
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ --> 
            
            
              <!-- Anchor Reference -->
                <a id="About" class="customoffset"></a>
            
      <section class="section clearfix">
               
        <div class="container">
                     
                   <div class="row">
                  <div class="col-sm-9">
                                       
                    <h2>About Us</h2>
                
                  </div>
                  <div class="col-sm-3">
                    <p class="mt-10"><a class="btn btn-animated btn-lg btn-warning">Coming Soon! <i class="fa fa-download"></i></a></p>
                  </div>
                </div>
        
                    
          <div class="separator-2"></div>
          <div class="row">
            <div class="col-md-6">
              <!-- accordion start -->
              <!-- ================ -->
              <div class="panel-group collapse-style-1" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapseOne">
                        <i class="fa fa-certificate pr-10"></i>DGX GOLD
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                      Users who purchase and store gold with us in our deposit vaults will be able to send their gold ownership vouchers on the blockchain. These vouchers can be customized to unlock partial or all assets, be kept in the Ethereum wallet as a store of value or be redeemed for physical gold at our vaults. Our I/O Generic contract function allows you to integrate DGX Gold into any DAPPs. We only offer LBMA approved PAMP SUISSE Gold bullion. </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                        <i class="fa fa-laptop pr-10"></i>Desktop App
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                      Our desktop App allows you to securely purchase and issue DGX Gold vouchers on the blockchain.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                        <i class="fa fa-connectdevelop pr-10"></i>Ether and DGX wallet
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                      Our app provides you with an Ether and DGX voucher wallet
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      
                <!-- Anchor Reference for About-->
                                            
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed" id="Solution">
                        
                        <i class="fa fa-lock pr-10"></i>100% Secure
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                      All client information goes directly into our servers via SSL.
                    </div>
                  </div>
                </div>
              </div>
              <!-- accordion end -->
            </div>
            <div class="col-md-6 space-bottom">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/KeDOUzTlgto" frameborder="0" allowfullscreen></iframe>
                <p><a href="http://vimeo.com/29198414">Introducing Vimeo Music Store</a> from <a href="http://vimeo.com/staff">Vimeo Staff</a> on <a href="https://vimeo.com">Vimeo</a>.</p>  
              </div>
            </div>
          </div>
                    
                   
        </div>
                
      <!-- section start -->
      <!-- ================ -->
                
      <section class="section clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="call-to-action well">
                <h2 class="title">Need a solution on the blockchain?</h2>
                <div class="row">
                  <div class="col-sm-8">
                    <p>DigixGlobal is a blockchain solutions provider. Click on the link on the right to learn more about what we can do for you.</p>
                  </div>
                  <div class="col-sm-4 text-right">
                    <a 
target="_blank" href="http://www.blockchainsolutions.io" class="btn btn-lg btn-default btn-animated">Blockchain Solutions<i class="fa fa-arrow-right pl-20"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->
                
                
 
                
                
                
                
                 <!-- Anchor Reference -->
                  <a id="Download"></a>
                                    
      </section>
      <!-- section end -->




      <!-- section start -->
      <!-- ================ -->
      <section class="dark-translucent-bg background-img-7 pv-40">
                

        <div class="owl-carousel content-slider">
                    
                    
                    <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="testimonial text-center">

                                        <div class="customcontainer">
                    <img src="/assets/images/valuemax.jpg" alt="ValueMax" title="ValueMax">
                  </div>
                  <h3>ValueMax - Bullion Supplier</h3>
                  <div class="separator"></div>
                  <div class="testimonial-body">
                    
                      <p>ValueMax Pawnshop is one of Singapore’s oldest and best-established pawnbroking chains. Established in 1988, they provide pawnbroking services, and retail and trading of pre-owned jewellery, gold and luxury timepieces.</p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
                    
                    
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="testimonial text-center">
                  
                                                          <div class="customcontainer">

                                        
                    <img src="/assets/images/bureauveritas.jpg" alt="Bureau Veritas" title="Bureau Veritas">
                  </div>
                  <h3>Bureau Veritas - Independent Auditor</h3>
                  <div class="separator"></div>
                  <div class="testimonial-body">
                    
                      <p>Bureau Veritas Inspectorate is a multinational group with capabilities in an extensive range of commodities, providing independent inspection, sampling and testing services of precious metal commodities.</p>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
                            
                    
                    
                    <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="testimonial text-center">
                                     
                  <div class="customcontainer">
                                        
                    <img src="/assets/images/malca.jpg" alt="Malca Amit" title="Malca Amit">
                  </div>
                  <h3>Malca Amit - Asset Custodian</h3>
                  <div class="separator"></div>
                  <div class="testimonial-body">
                    
                      <p>Malca-Amit's state of the art facility near Changi International Airport are located in the Singapore Freeport, a 25,000 sqm high-security and climate-controlled facility featuring cutting edge security technologies enhanced by green building engineering.</p>
                                    
                                      
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
                    

                    
        </div>
      </section>
      <!-- section end -->
 <!-- Anchor Reference -->
                  <a id="dgxfooter"></a>
      <!-- footer top start -->
      <!-- ================ -->
      <div class="dark-translucent-bg footer-top animated-text default-hovered" style="background-color:rgba(0,0,0,0.6);">
                
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="call-to-action text-center">
                               
                                
                                
                <div class="row">
                  <div class="col-sm-8">
                    <h2>Gold on the blockchain</h2>
                    <h2> Start using DGX Gold</h2>
                  </div>
                  <div class="col-sm-4">
                    <p class="mt-10"><a class="btn btn-animated btn-lg btn-warning">Coming Soon! <i class="fa fa-download"></i></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{{>homepage-footer}}
                            