---
title: DigixGlobal - Team
---
{{>pages-header}}
      <!-- breadcrumb start -->
      <!-- ================ -->
      <div class="breadcrumb-container">
        <div class="container">
          <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
            <li class="active">Team</li>
          </ol>
        </div>
      </div>
      <!-- breadcrumb end -->

 
            
            <!-- main-container start -->
      <!-- ================ -->
      <section class="main-container">

        <div class="container">
          <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">

              <!-- page-title start -->
              <!-- ================ -->
              <h1 class="page-title">Executive Team</h1>
              <div class="separator-2"></div>
              <!-- page-title end -->
              <div class="image-box team-member style-3-b">
                <div class="row">
                  <div class="col-sm-1 col-md-2 col-lg-2">
                    <div class="overlay-container overlay-visible">
                      <img src="/assets/images/team/teo.png" alt="">
                      
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-8 col-lg-6">
                    <div class="body">
                      <h3 class="title margin-clear">Teo Hye, Chng -  <small>Chairman</small></h3>
                      <div class="separator-2 mt-10"></div>
                      <p>Former Chairman and CEO of Fujitsu Asia Pte Ltd. He provides IT expertise and Business Development Strategies to the firm.</p>
                  
                      <br>
                    
                    </div>
                  </div>
                </div>
              </div>
                            
                            
                            <div class="image-box team-member style-3-b">
                <div class="row">
                  <div class="col-sm-1 col-md-2 col-lg-2">
                    <div class="overlay-container overlay-visible">
                      <img src="/assets/images/team/kc.png" alt="">
                      
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-8 col-lg-6">
                    <div class="body">
                      <h3 class="title margin-clear">Kai Cheng, Chng -  <small>CEO</small></h3>
                      <div class="separator-2 mt-10"></div>
                      <p>Kai worked on Wall Street as an EMFX trader in a global investment bank for the past 4 years. He was an International Program student at Upenn - Wharton and graduated with honors from NYU - Stern.</p>
                  
                      <br>
                    
                    </div>
                  </div>
                </div>
              </div>
                            
                            
                            <div class="image-box team-member style-3-b">
                <div class="row">
                  <div class="col-sm-1 col-md-2 col-lg-2">
                    <div class="overlay-container overlay-visible">
                      <img src="/assets/images/team/ace.png" alt="Anthony Eufemio">
                      
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-8 col-lg-6">
                    <div class="body">
                      <h3 class="title margin-clear">Anthony Eufemio  <small>CTO</small></h3>
                      <div class="separator-2 mt-10"></div>
                      <p>Anthony is a 15 year veteran of the software development, computer security, and IT industries. He has a Bachelors of Science in Computer Science from Viterbi. He is also an active software contributor to Ethereum, the next generation Turing Complete Blockchain.</p>
                  
                      <br>
                    
                    </div>
                  </div>
                </div>
              </div>
                            
                            
                            <div class="image-box team-member style-3-b">
                <div class="row">
                  <div class="col-sm-1 col-md-2 col-lg-2">
                    <div class="overlay-container overlay-visible">
                      <img src="/assets/images/team/tran.png" alt="">
                      
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-8 col-lg-6">
                    <div class="body">
                      <h3 class="title margin-clear">Tran Ngoc Sam -  <small>Senior Developer</small></h3>
                      <div class="separator-2 mt-10"></div>
                      <p>Sam has been working as a professional developer for 11+ years. As a senior developer, Sam is responsible for building, maintaining apps for DigixGlobal.</p>
                  
                      <br>
                    
                    </div>
                  </div>
                </div>
              </div>
                            
                            
                            
                            <div class="image-box team-member style-3-b">
                <div class="row">
                  <div class="col-sm-1 col-md-2 col-lg-2">
                    <div class="overlay-container overlay-visible">
                      <img src="/assets/images/team/peter.png" alt="">
                      
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-8 col-lg-6">
                    <div class="body">
                      <h3 class="title margin-clear">Peter Tan - <small>Advisor</small></h3>
                      <div class="separator-2 mt-10"></div>
                      <p>Peter is the Chairman of SICOM’s Rubber Contract Dispute Resolution Committee. He was the Managing Director of Goodyear Orient Co Pte Ltd (GOCPL), Deputy Chairman of the Singapore Commodity Exchange (SICOM), President of the Rotary Club of Singapore and member of the Board of the Singapore International Chamber of Commerce.</p>
                  
                      <br>
                    
                    </div>
                  </div>
                </div>
              </div>
                            
                            
                            
                            <div class="image-box team-member style-3-b">
                <div class="row">
                  <div class="col-sm-1 col-md-2 col-lg-2">
                    <div class="overlay-container overlay-visible">
                      <img src="/assets/images/team/tony.png" alt="">
                      
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-8 col-lg-6">
                          <div class="body">
                      <h3 class="title margin-clear">Tony Wong -  <small>Advisor</small></h3>
                      <div class="separator-2 mt-10"></div>
                      <p>He is currently providing consultancy services to Spring Global Mail Asia (Part of Post NL). He has over 40 years of experience in the mail logistics industry and was formerly the head of TNT International Mail.</p>
                  
                      <br>
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- main end -->
              
          </div>
        </div>
      </section>
      <!-- main-container end -->
{{>homepage-footer}}