---
title: DigixGlobal - Anti Money Laundering Policy
---
{{>pages-header}}
      <!-- breadcrumb start -->
      <!-- ================ -->
      <div class="breadcrumb-container">
        <div class="container">
          <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a class="link-dark" href="/index.html">Home</a></li>
            <li class="active">AML Policy</li>
          </ol>
        </div>
      </div>
      <!-- breadcrumb end -->

      <!-- main-container start -->
      <!-- ================ -->
      <section class="main-container">

        <div class="container">
          <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-11">
              <!-- page-title start -->
              <!-- ================ -->
              <h1 class="page-title">Anti-Money Laundering Policy</h1>
              <div class="separator-2"></div>
              <!-- page-title end -->
              
              <p>At DigixGlobal Private Limited, we do not condone the use of our Products and Services for any form of illicit activities.</p>
<p>Money laundering methods may appear in a variety of sophisticated forms. We will do our utmost to prevent and report any suspicious activities to the relevant legal authorities.</p>
<p>By using our Service, you agree that you do not use the Services to engage in any activity that is in connection with the following businesses, activities, practices, or items:</p>
<ul class="indexed-list">
<li class="ml-50 bfml--50">Operating as an unlicensed money transmitter, money service, payment service provider, e-money, or any other financial services business which requires licensure, including but not limited to exchanges of virtual currencies, sales of money orders or traveler's checks, and escrow services</li>
<li class="ml-50 bfml--50">Counterfeit products or any product or service that infringes upon the copyright, trademark, or trade secrets of any third party</li>
<li class="ml-50 bfml--50">Stolen goods</li>
<li class="ml-50 bfml--50">Narcotics, controlled substances, prescription and pharmaceutical services, drug paraphernalia, or any substances designed to mimic illegal drugs</li>
<li class="ml-50 bfml--50">Gambling, except where permitted by Coinbase</li>
<li class="ml-50 bfml--50">Sports forecasting or odds making</li>
<li class="ml-50 bfml--50">Prostitution or illegal escort services</li>
<li class="ml-50 bfml--50">Violent acts towards self or others, or activities or items that encourage, promote, facilitate or instruct others regarding the same</li>
<li class="ml-50 bfml--50">Funding any of the items included on this Prohibited Businesses list</li>
<li class="ml-50 bfml--50">Extortion, blackmail, or efforts to induce unearned payments</li>
<li class="ml-50 bfml--50">Unlicensed sale of firearms and certain weapons</li>
<li class="ml-50 bfml--50">Engaging in deceptive marketing practices</li>
<li class="ml-50 bfml--50">Any business that violates any law, statute, ordinance or regulation</li>
<li class="ml-50 bfml--50">You may not use your DigixGlobal Account to engage in the following categories of activity ("Prohibited Use"). By opening a DigixGlobal Account, you confirm that you will not use your Account to do any of the following:
<ul>
<li class="ml-50 bfml--50">Violate or assist any party in violating any law, statute, ordinance, regulation or any rule of any self-regulatory or similar organization of which you are or are required to be a member (for example, those laws, rules, or regulations governing financial services, controlled substances, or consumer protections);</li>
<li class="ml-50 bfml--50">Partake in a transaction which involves the proceeds of any unlawful activity;</li>
<li class="ml-50 bfml--50">Partake in any transaction involving online gambling except where permitted by DigixGlobal ;</li>
<li class="ml-50 bfml--50">Defraud or attempt to defraud DigixGlobal or other DigixGlobal users;</li>
<li class="ml-50 bfml--50">Infringe upon DigixGlobal or any third party's copyright, patent, trademark, or intellectual property rights;</li>
<li class="ml-50 bfml--50">Provide false, inaccurate or misleading information;</li>
<li class="ml-50 bfml--50">Take any action that imposes an unreasonable or disproportionately large load on our infrastructure, or detrimentally interfere with, intercept, or expropriate any system, data, or information;</li>
<li class="ml-50 bfml--50">Interfere with another individual's or entity's access to or use of any of the Services;</li>
<li class="ml-50 bfml--50">Defame, abuse, harass, stalk, threaten or otherwise violate or infringe the legal rights (such as, but not limited to, rights of privacy, publicity and intellectual property) of others;</li>
<li class="ml-50 bfml--50">Publish, distribute or disseminate any unlawful material or information;</li>
<li class="ml-50 bfml--50">Transmit or upload any material to the Website that contains viruses, Trojan horses, worms, or any other harmful or deleterious programs;</li>
<li class="ml-50 bfml--50">Harvest or otherwise collect information from the Website about others, including without limitation email addresses, without proper consent;</li>
<li class="ml-50 bfml--50">Act as a payment intermediary or aggregator or otherwise resell any of the Services, unless expressly authorized by DigixGlobal in writing;</li>
<li class="ml-50 bfml--50">Transfer any rights granted to you under this Agreement;</li>
<li class="ml-50 bfml--50">Use the DigixGlobal Account information of another party to access or use the Website, except in the case of specific Merchants and/or applications which are specifically authorized by a user to access such user's DigixGlobal Account and information;</li>
<li class="ml-50 bfml--50">Otherwise attempt to gain unauthorized access to the Website, other DigixGlobal Accounts, computer systems or networks connected to the Website, through password mining or any other means; or</li>
<li class="ml-50 bfml--50">Engage in transactions involving items that infringe or violate any copyright, trademark, right of publicity or privacy or any other proprietary right under the law.</li>
</ul>
</li>
</ul>
              
            </div>
            <!-- main end -->

            
          
          </div>
        </div>
      </section>
      <!-- main-container end -->

{{>homepage-footer}}