---
title: DigixGlobal - Privacy Policy
---
{{>pages-header}}
      <!-- breadcrumb start -->
      <!-- ================ -->
      <div class="breadcrumb-container">
        <div class="container">
          <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a class="link-dark" href="/index.html">Home</a></li>
            <li class="active">Privacy Policy</li>
          </ol>
        </div>
      </div>
      <!-- breadcrumb end -->

      <!-- main-container start -->
      <!-- ================ -->
      <section class="main-container">

        <div class="container">
          <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-11">
              <!-- page-title start -->
              <!-- ================ -->
              <h1 class="page-title">Privacy Policy</h1>
              <div class="separator-2"></div>
              <!-- page-title end -->
              
              <p>This Privacy Policy (the &ldquo;Policy&rdquo;) is designed to assist you in understanding how we collect, use and safeguard personal information you provide to us when you use our services (the &ldquo;DigixGlobal Services&rdquo;) offered on our website, DigixGlobal.com (&ldquo;our Website&rdquo;).</p>
<p>DigixGlobal pays close attention to your personal privacy and adheres to the Personal Data Protection Act 2012 (PDPA). This privacy policy explains to you:</p>
<ul class="indexed-list">
<li class="ml-50 bfml--50">What personally identifiable information is collected from you through our web site, how it is used and with whom it may be shared.</li>
<li class="ml-50 bfml--50">What choices are available to you regarding the use of your data and how you can correct any inaccuracies in the information.</li>
<li class="ml-50 bfml--50">The security procedures in place to protect the misuse of your information.</li>
</ul>
<p>&nbsp;</p>
<p>Our Privacy Policy may change from time to time and all updates will be posted on this page. By using our Web site you consent to our collection and use of your Personal Information as described in this Privacy Policy.Subject to your rights at law, you agree to be bound by the prevailing terms of this Privacy Policy as updated from time to time on our website.</p>
<p>In this Policy, &ldquo;Personal Information&rdquo; refers to any information, whether true or not, about an individual who can be identified from that information; or from that information and other information to which we have or are likely to have access, including information in our records as may be updated from time to time, and any other information relating to any individuals which you may have provided us from time to time in your interaction with us.</p>
<p>Also, the terms, &ldquo;you,&rdquo; &ldquo;your&rdquo; or &ldquo;user&rdquo; shall refer to you, the user, and &ldquo;DigixGlobal,&rdquo; &ldquo;DGX&rdquo;, &ldquo;we&rdquo;, &ldquo;us&rdquo; or &ldquo;our&rdquo; shall refer to us, DigixGlobal Private Limited, a Singapore company.</p>
<h2 class="terms">1. Collection of Personal Information</h2>
<ul class="indexed-list">
<li class="ml-50 bfml--50">When you visit our Web site you may provide us with two types of information: personal information you voluntarily choose to disclose that is collected on an individual basis, and information about you that is collected as you and others access our Website.</li>
<li class="ml-50 bfml--50">Personal Information you voluntarily provide us: When you sign up on our site to use our online wallets, subscribe to our mailing list, place an order, issue PoA &trade; contracts, recast gold bars or request for information, you may be asked to provide an email address, a mobile number, a credit card, a mailing address, a government ID, a photograph of yourself, a digital signature or any other relevant payment information such as your bank account details and routing numbers. In addition, if you choose to correspond further with us through email, we may retain the content of your email messages together with your email address and our responses.</li>
<li class="ml-50 bfml--50">Information we gather about you from accessing our Website: When you access our Website for any reason whatsoever, we may collect information such as your IP address, your operating hardware, your software, browser information, and cookies that enable us to track and target your surfing habits on our site.</li>
</ul>
<h2 class="terms">2. Usage and Sharing</h2>
<ul class="indexed-list">
<li class="ml-50 bfml--50">We use Personal Information for administering our business activities and to provide you with customer service, technical support, for audit purposes, and to notify you about improvements to our Website and new services we think you will find useful. More importantly, we collect Personal Information so as to mitigate the risk of fraud, identity theft or credit card theft. The Personal Information collected is used to identify any possible breach to your DigixGlobal Account, as well as to identify malicious software or activities that may harm DigixGlobal or its community of users.</li>
<li class="ml-50 bfml--50">We take your privacy very seriously, and will only share your Personal Information if we are legally compelled to do so, particularly, in the following situations:
<ul>
<li class="ml-50 bfml--50">Suspicious transaction activities;</li>
<li class="ml-50 bfml--50">To meet any law, regulation, or governmental request from the Singapore Courts only;</li>
<li class="ml-50 bfml--50">To comply with Singapore anti-money laundering laws (AML). For further information on this, please see our separate&nbsp;<a class="u" href="https://www.dgx.io/en/aml_policy" target="_self">AML Policy</a>;</li>
<li class="ml-50 bfml--50">Preventing and reporting fraud and illicit activity.</li>
</ul>
</li>
</ul>
<h2 class="terms">3. Your Access to and Control Over Personal Information</h2>
<ul class="indexed-list">
<li class="ml-50 bfml--50">You can do the following at any time by contacting us via the email address or phone number given on our website:
<ul>
<li class="ml-50 bfml--50">See what data we have about you, if any.</li>
<li class="ml-50 bfml--50">Change/correct any data we have about you.</li>
<li class="ml-50 bfml--50">Have us delete data we have about you provided you do not have a business relationship with DigixGlobal or DGX services</li>
<li class="ml-50 bfml--50">Express any concern you have about our use of your data.</li>
</ul>
</li>
<li class="ml-50 bfml--50">You may opt out of any future contact from us at any time.</li>
</ul>
<h2 class="terms">4. Security</h2>
<ul class="indexed-list">
<li class="ml-50 bfml--50">We take precautions to protect your information. When you submit sensitive information via the Website, your Personal Information is protected both online and offline.</li>
<li class="ml-50 bfml--50">Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. This can be verified by the &ldquo;closed lock&rdquo; icon at the bottom of your web browser, or looking for &ldquo;https&rdquo; at the beginning of the address of the web page.</li>
<li class="ml-50 bfml--50">While we use encryption to protect Personal Information transmitted online, we also protect your Personal Information offline. Only employees who need the Personal Information to perform a specific job (for example, billing or customer service) are granted access to Personal Information. The computers/servers in which we store Personal Information are kept in a secure environment. For more information, please see our&nbsp;<a class="u" href="https://www.dgx.io/en/security_features" target="_self">security document</a></li>
</ul>
<h2 class="terms">5. Links</h2>
<ul class="indexed-list">
<li class="ml-50 bfml--50">This Website may contain links to other sites. Please be aware that we are not responsible for the content or privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of any other site that collects Personal Information.</li>
</ul>
<h2 class="terms">6. Governing Law</h2>
<ul class="indexed-list">
<li class="ml-50 bfml--50">This Policy is governed by Singapore law.</li>
</ul>
<h2 class="terms">Contacting Us.</h2>
<p>If you have any questions or feedback relating to your Personal Information or our Privacy Policy, or would like to withdraw your consent to the use of your Personal Information, please contact us immediately&nbsp;<a class="u" href="https://www.dgx.io/?locale=en#contact" target="_self">here</a>.</p>
              
            </div>
            <!-- main end -->

            
          
          </div>
        </div>
      </section>
      <!-- main-container end -->

{{>homepage-footer}}