<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
  <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <title> {{ title }} </title>
    <meta name="DigixGlobal" content="DGX Gold - Built on Ethereum Blockchain">
    <meta name="DigixGlobal Pte Ltd" content="htmlcoder.me">

    <!-- Mobile Meta -->
    <meta name="Mobile DGX" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/images/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="/assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="/assets/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Fontello CSS -->
    <link href="/assets/fonts/fontello/css/fontello.css" rel="stylesheet">
        
        <!-- DRAFT -->
        <link href="/assets/css/custom.css" rel="stylesheet">

    <!-- Plugins -->
    <link href="/assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="/assets/plugins/rs-plugin/css/settings.css" rel="stylesheet">
    <link href="/assets/css/animations.css" rel="stylesheet">
    <link href="/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/assets/plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
    <link href="/assets/plugins/hover/hover-min.css" rel="stylesheet">
    <link href="/assets/plugins/morphext/morphext.css" rel="stylesheet">
    
    <!-- the project core CSS file -->
    <link href="/assets/css/style.css" rel="stylesheet" >

    <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
    <link href="/assets/css/skins/gold_custom.css" rel="stylesheet">

    <!-- Custom css --> 
    <link href="/assets/css/custom.css" rel="stylesheet">
  </head>
  <script>
  (function() {var s=document.createElement('script');
    s.type='text/javascript';s.async=true;
    s.src=('https:'==document.location.protocol?'https':'http') +
    '://digix.groovehq.com/widgets/7a403914-5d51-43df-9bb8-22ce5cbc3bf2/ticket.js'; var q = document.getElementsByTagName('script')[0];q.parentNode.insertBefore(s, q);})();
  </script>


  <!-- body classes:  -->
  <!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
  <!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
  <!-- "transparent-header": makes the header transparent and pulls the banner to top -->
  <body class="no-trans front-page transparent-header ">

    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
    
    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper">
    
      <!-- header-container start -->
      <div class="header-container">
        
        <!-- header start -->
        <!-- classes:  -->
        <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
        <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
        <!-- "full-width": mandatory class for the full-width menu layout -->
        <!-- "centered": mandatory class for the centered logo layout -->
        <!-- ================ --> 
        <header class="header  fixed  transparent clearfix">
          
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <!-- header-left start -->
                <!-- ================ -->
                <div class="header-left clearfix">

                  <!-- logo -->
                  <div id="logo" class="logo">
                    <a href="index.html"><img id="logo_img" src="/assets/images/digixglobal_logo_light.png" alt="DigixGlobal"></a>
                  </div>

                  <!-- name-and-slogan -->
                  <div class="site-slogan">
                    The Smart Asset Company
                  </div>
                  
                </div>
                <!-- header-left end -->

              </div>
              <div class="col-md-9">
          
                        <!-- header-right start -->
                <!-- ================ -->
                <div class="header-right clearfix">
                  
                <!-- main-navigation start -->
                <!-- classes: -->
                <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                <!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
                <!-- ================ -->
                <div class="main-navigation  animated with-dropdown-buttons">

                  <!-- navbar start -->
                  <!-- ================ -->
                  <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">

                      <!-- Toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        
                      </div>

                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <!-- main-menu -->
                        <ul class="nav navbar-nav customoffset" id="top-nav">
                          <li>
                            <a  href="/index.html">Home</a>
                            
                          </li>
                          <li>
                            <a href="/index.html#Download">Download</a>
                            
                          </li>
     
                          <li>
                            <a href="/index.html#About">About</a>
                          
                          </li>
                     
                          <li>
                            <a href="https://blockchainsolutions.io">Solutions</a>
                            
                          </li>
                                                    
                                                     <li>
                            <a href="/blog.html">Blog</a>
                            
                          </li>
   <li class="dropdown ">
                                                        <a href="#dgxfooter" data-toggle="dropdown">Resources</a>
                                                        <ul class="dropdown-menu">
                                                            <li ><a href="/team.html">Team</a></li>
                                                            <li ><a href="/privacy.html">Privacy Policy</a></li>
                                                            <li ><a href="/aml.html">AML Policy</a></li>
                                                            <li ><a href="/faq.html">FAQ</a></li>
                                                            <li ><a href="/terms.html">Terms and Conditions</a></li>
                                                        </ul>
                                                    </li>
                                                    
                                                   
                        </ul>
                                                
                                                
                        
                        <!-- Navi bar End
                                                

                        
                        <!-- header buttons -->
                        <!-- header buttons end-->
                        
                      </div>

                    </div>
                  </nav>
                  <!-- navbar end -->

                </div>
                <!-- main-navigation end -->  
                </div>
                <!-- header-right end -->
          
              </div>
            </div>
          </div>
          
        </header>
        <!-- header end -->
      </div>
      <!-- header-container end -->
    
      <!-- banner start -->
      <!-- ================ -->